[2020-01-27 22:54] ncuillery opened #5 "Rewrite the module in TypeScript"
Hey 👋

Thank you for doing this, how about rewriting the module in TypeScript and generate the type definition file instead of maintaining it by hand?

I made a couple of PR to fix issues that would have been detected by using TypeScript.

[2020-01-27 23:01] ncuillery opened #6 "Avoid explicit usage of `children` in the documentation"
I find a bit weird to show an explicit usage of the `children` props:
[code]
instead of
[code]
I have never seen this before
Even if it syntaxically correct, it adds verbosity for... nothing?

What do you think?

[2020-01-28 06:30] ammarahm-ed commented on #6
At a point I thought that too, why use `children` and not just wrap everything inside the `ActionSheet`. It can be done in both ways, and I have mentioned both of them in the documentation.

[code]

I still think it doesnt make a difference as its possible in which ever way you like and mentioned in the docs too. what do you think?

[2020-01-28 10:03] ammarahm-ed commented on #5
Hi there, thank you for sending some useful pull requests. I have merged all of them. A rewrite of the module in typescript for me has no benefit to the end users of this library since the defined `.ts` file does the job although it is a bit of a hassle maintaining another file. I added it for intellisense to work properly in Visual Studio Code. Currently there are no plans for converting the whol

[2020-01-28 14:39] ncuillery commented on #5
You're right, there is no benefit for the end users. It's really for the maintainer and people who'd like to contribute (like me 😉).

You seem to use TS outside this library, do you have a strong opinion for NOT converting the whole module to TypeScript? In other words, if I send that in a PR, would you consider merging it?

[2020-01-28 14:52] ammarahm-ed commented on #5
If you send in a PR, I will merge it.

[2020-01-28 20:10] breynolds-dev commented on #6
For what it's worth there is a rule for the react eslint that recommends using it wrapped instead of passed as a prop.

https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-children-prop.md

While it may be the same thing under the hood, I agree that wrapped is a little more clear as to what's happening with the components.

[2020-01-29 07:14] ammarahm-ed commented on #6
After a bit of research I have removed `children` usage from the docs. I am closing this issue now as it has been fixed. Thanks @ncuillery  and @breynolds-dev for making it clearer to me.

[2020-01-29 07:14] #6 closed

[2020-01-30 20:49] rafaelbpa opened #9 "Scrollview not working on android"
Hello,

When I have a scrollview as the first children of the react-native-action-sheet on android it is not working. My component simply just don't scroll. Works perfectly on iOS, but not on Android.

Is something wrong with the library or am I missing something?

[2020-01-31 08:02] ammarahm-ed commented on #9
Hi there,

Thanks for using this module. You are facing this issue because the ActionSheet uses a ScrollView underneath to handle all the touches due to its native performance.

On iOS by default nested scrolling is enabled, so scrollviews inside ScrollViews work fine however on android nested ScrollView will not work as expected by default.

There is a prop `nestedScrollEnabled` on android which

[2020-02-02 18:36] ammarahm-ed opened #10 "`TextInput` hides on creating a newline on android"
Creating a new line on android hides the `TextInput` behind the keyboard until the next keystroke.

[2020-02-02 18:37] ammarahm-ed opened #11 "Support Nested ScrollViews"

[2020-02-05 15:51] rafaelbpa commented on #9
Oh, I see. The way you told me it is working. Thanks a lot! Good work!

[2020-02-06 13:18] imjaad94 opened #12 "[Feature Request] How to make action sheet not dismiss-able"
Hi, thanks a lot for such lightweight package. I was wondering if we can stop the action sheet from being dismissed. Lets say if i press on backdrop accidentally there should be a prop to disable that.
Thanks

[2020-02-09 07:31] ammarahm-ed commented on #12
Hi there,

I never thought about that, well that is possible. However don't you think that pressing outside the ActionSheet should close it? just like any other dialog you open, if you press outside the dialog it will close.

This can be useful if the View behind the ActionSheet is intractable when it is opened like in taxi-apps such as Uber etc where there is a map always shown, and you can inter

[2020-02-10 06:03] imjaad94 commented on #12
Thanks a lot and you are absolutely right about the usage, but you know there are some scenarios when you can't afford to dismiss the actionsheet.

[2020-02-11 18:28] #11 closed

[2020-02-11 18:28] ammarahm-ed commented on #9
Scrolling is implemented properly and will be available in the next release!

[2020-02-11 18:28] #9 closed

[2020-02-11 18:29] ammarahm-ed commented on #12
This has been fixed now. Next release will include this feature. I am closing this issue.

[2020-02-11 18:29] #12 closed

[2020-02-11 18:53] #10 closed

[2020-03-13 06:26] ammarahm-ed opened #13 "backdrop not touchable around actionsheet in tablet mode"

[2020-03-13 06:48] #13 closed

[2020-03-20 20:47] vinters768 opened #15 "Horizontal layout support"
Hi! Thanks for this awesome plugin. Portrait mode is working as expected, but horizontal layout does not trigger the content view, the background in toggled as I can see it turning darker.

Could you please look in to it?

Thanks

[2020-03-21 01:38] ammarahm-ed commented on #15
Lately I have only tested it on a tablet and a portrait mode on mobile. I will look into it today and try to fix landscape mode ASAP! Thank you for pointing it out. I think that the heights etc need to be recalculated when device orientation changes. The problem occurs because the actionsheet still thinks the device is in portrait. Thats why it does not show up, it hides behind as landscape is hal

[2020-03-21 10:24] ammarahm-ed commented on #15
So I have attempted to fix the horizontal layout issue and I think it has been fixed. I am publishing a new version on npm. Try it out and report back if you face any issue.

[2020-03-21 15:25] vinters768 commented on #15
@ammarahm-ed  thanks for the quick update.. I can see that it's still not working quite well. Please see screenshots:
![Simulator Screen Shot - iPhone 8 Plus - 2020-03-21 at 17 24 02](https://user-images.githubusercontent.com/13395036/77229839-cc006380-6b98-11ea-8c19-9f14cf4f8e21.png)
![Simulator Screen Shot - iPhone 8 Plus - 2020-03-21 at 17 24 11](https://user-images.githubusercontent.com/133950

[2020-03-21 17:17] ammarahm-ed commented on #15
Are you sure you are using the latest version? Remove node_modules folder and in your package.json file, update the version of react-native-actions-sheet to 0.2.2 or run yarn add react-native-actions-sheet@0.2.2

[2020-03-21 17:20] ammarahm-ed commented on #15
Check the example, horizontal mode is working in the example

[2020-03-21 17:40] vinters768 commented on #15
@ammarahm-ed just ran:
`npm view react-native-actions-sheet version
0.2.2`

[2020-03-21 17:46] ammarahm-ed commented on #15
I think it is working on android, but on iOS it is not working. I am looking into the issue right now.

[2020-03-21 17:46] vinters768 commented on #15
@ammarahm-ed could you please try the data set I am using? With the same construction of ActionSheet component?

[2020-03-21 17:46] ammarahm-ed commented on #15
@vinters768 can you test on android?

[2020-03-21 17:46] vinters768 commented on #15
@ammarahm-ed sure, give me a few minutes

[2020-03-21 17:53] vinters768 commented on #15
@ammarahm-ed yes, android looking good, but the problem still persists on iOS

[2020-03-21 17:54] ammarahm-ed commented on #15
@vinters768 same here, I am trying to fix it right now on iOS. Hope it get fixed soon.

[2020-03-21 18:44] ammarahm-ed commented on #15
Hey I have made an attempt to fix the problem on iOS. can you test using the master branch?

go to your package.json file and replace

[code]
with
[code]
and then run:
`yarn add https://github.com/ammarahm-ed/react-native-actions-sheet.git`

then run it on iOS and see if its working now. for me its working.

[2020-03-21 18:46] ammarahm-ed commented on #15
![Screen Shot 1399-01-02 at 11 45 31 PM](https://user-images.githubusercontent.com/40239442/77234159-1b14bb80-6bce-11ea-80c9-1c245eb9f437.png)

[2020-03-21 19:02] vinters768 commented on #15
@ammarahm-ed did what you said, no difference, are you sure you pushed it to remote?

[2020-03-21 19:17] ammarahm-ed commented on #15
@vinters768 I have pushed the code to master branch, it is working here for me in the simulator. Can you go into node_modules/react-native-actions-sheet/src/index.js file and check if the ´_showModal´ function has setTimeout() of 100md inside? If its there, try to increase the timeout value from 100 to 200 or more..  See if it works in landscape mode for you then.

Its late here at night, if it do

[2020-03-21 19:22] vinters768 commented on #15
@ammarahm-ed changed it  to 200-500 no change. I played around with line: 336, it seems to be responsible for the height.

[2020-03-21 19:35] ammarahm-ed commented on #15
[code]
Also set this.isRecoiling to false in the constructor.

Basically I have wrapped the animation into another timeout function. Try it out.

[2020-03-21 19:40] vinters768 commented on #15
@ammarahm-ed this seems to fix it, thanks 👍 but first open is jittering, looks like  it sets height to high and then drops it to correct one. Do you have the same?

[2020-03-21 19:50] ammarahm-ed commented on #15
Try to set outer timeout to 50ms and inner timeout to 10 or 20ms and I hope it will go away. This is kind of a hack but i think it will reduce the gitter.  Reduce the timeout even lower until you see no gitter anymore and the actionSheet is working.

[2020-03-21 19:51] vinters768 commented on #15
@ammarahm-ed will try that.. Will you work on a more permanent solution? Thanks 👍

[2020-03-21 19:54] ammarahm-ed commented on #15
Yes I will probably but this seems to work for now. Also I would suggest that If your FlatList is not very long,try not to use it and instead use simple ScrollView and map the values to components. Because the ActionSheet wraps everything in a ScrollView so there is no virtualization and if you have a small list. Its okay if there is none.

[2020-03-21 19:55] ammarahm-ed commented on #15
I need to investigate more why it is occuring, but the actual issue is still unclear, maybe after layout it takes a while for the list to load the data when in horizontal mode so it does not Scroll at start when no timeout is used.

[2020-03-25 00:57] ammarahm-ed commented on #15
This has been fixed now in the new release. I am closing this issue. Open it if you face the problem.

[2020-03-25 00:57] #15 closed

[2020-04-01 17:18] imjaad9090 opened #16 "Actionsheet is dismissed automatically when app is in background for a while"
Hi, I have noticed this behaviour recently that when the action sheet is opened and if i open some other app for some time and return to my application, the action sheet is in dismissed state and not even completely dismissed but i guess it looks like in blurred state.

**Scenario** : I am using actionsheet to allow user to enter the OTP sent via messages, so if he opens messaging application and

[2020-04-02 01:13] ammarahm-ed commented on #16
I will try to reproduce it and see if it could be fixed. The ActionSheet basically uses a modal to show itself. So if showing a dialog is doing the same when in background, we would need to look deeper however maybe its some bug on my end, but let me look. Thank you for reporting.

[2020-04-02 04:17] ammarahm-ed commented on #16
So I have been multi-tasking for sometime now with the ActionSheet opened in the example app. It does not close or blur out. I have kept it in background for 15 to 20 minutes. Try to check if you face the same problem in the example.

[2020-04-02 06:12] imjaad9090 commented on #16
Great so i will have to look at it, maybe i am not using the package properly. Can you share the code you tested with i.e the default settings/props.
thanks

[2020-04-02 13:38] ammarahm-ed commented on #16
I tested it in the example provided in the library.

You can clone this project and run the example to test.

[2020-04-04 22:33] imjaad9090 commented on #16
Ok i will, thanks

[2020-04-09 10:00] dhuber666 opened #17 "White Bar at bottom after keyboard dismissal and sheet disappears when TextInput + autofocus is used"
Hiho,

first of all: Awesome library!

**EDIT: Look at my second post the first problem has been solved**

Second:

I have a minor problem and it might be my fault but I really don't know how I can solve it. I'm really stuck.

So when I open the action sheet and then type into the TextArea of course the keyboard comes up and the whole sheet gets way slower (this works perfectly). But when I close

[2020-04-09 15:16] dhuber666 commented on #17
I solved it by also give it a custom `containerStyle`.
But I have a new problem:

When I have a `TextInput` inside the custom component that pops up and give it the prop `autofocus`, when I open the modal the keyboard snaps up and then the modal completely disappears, but the keyboard stays open (ios only).

When I close the keyboard and open the modal again, everything works as expected. So the f

[2020-04-09 17:05] ammarahm-ed commented on #17
Hi,

Thank you for opening the issue, I will look into it and report back ASAP.

[2020-04-09 18:02] ammarahm-ed commented on #17
Also I am pushing a point release to fix a few issues you listed here. Thank you very much for using this library!

[2020-04-11 04:24] ammarahm-ed commented on #17
I am closing this issue for now, if you face any problem, you can open it again or create a new one.

[2020-04-11 04:24] #17 closed

[2020-04-11 04:25] ammarahm-ed commented on #16
This issue is stale, I am closing it now, if you face a problem, reopen it.

[2020-04-11 04:25] #16 closed

[2020-04-15 22:20] focux opened #18 "Keyboard dismissing when actions sheet is closing"
First of all, thanks for your work, I really love this library.

I'm having an issue when I try to focus a TextInput while the Action Sheet is closing, as you can see in the gif below, the keyboard is opening but somehow it gets dismissed by the Action Sheet. I know is the Action Sheet because when I don't close the Action Sheet, the input gets focused and the keyboard opens as expected.

It might

[2020-04-16 09:18] ammarahm-ed commented on #18
The issue is taking place because all Modals natively are created in a seperate fragment/activity. When you call focus, it is actually hiding the actionSheet at that time, hence the keyboard is also dismissed along with it because it thinks that it was open inside the actionsheet.

What you can do is simply open the keyboard after a short delay. Maybe use the `onClose` event on ActionSheet and han

[2020-04-17 02:09] focux commented on #18
Calling the focus inside the `onClose` handler did the trick. Thank you.

[2020-04-17 02:09] #18 closed

[2020-04-22 23:35] focux opened #20 "Unresponsive screen after closing sheet"
For some reason, if you try to scroll/tap as soon as the sheet closes, it doesn't work. It seems that even when the overlay is totally transparent, it takes some milliseconds/seconds to remove it from the screen.

I tried reducing the `closeAnimationDuration` time but I didn't have any luck.

[2020-04-23 04:17] ammarahm-ed commented on #20
Have you tried setting `animated` prop to false? This is happening because the ActionSheet is actually inside a modal, so after the animation is complete the modal hides usually. And since modal has its own fade animation, it takes around 300ms to close fully.

[2020-04-23 09:14] ammarahm-ed commented on #20
@focux I have released a new version which fixes the issue. try it out and tell me if you are still facing the problem. Here it stopped.

[2020-04-23 17:22] focux commented on #20
Sweet. It indeed fixed it. Feels so good when libraries have active maintainers, thank you so much.

[2020-04-23 17:22] #20 closed

[2020-04-23 20:39] ammarahm-ed commented on #20
Open an issue if you face any problem again!

[2020-05-05 11:33] bobdeprez opened #21 "Proptype for container style does not accept array"
Hello,

The proptype for containerstyle does not accept an array, although it works, is it possible to adapt it so that also arrays are accepted for container style?

Im doing it like this:

<ActionSheet
      ref={actionSheetRef}
      containerStyle={[
        styles.actionSheetStyle.default,
        styles[props.colorMode].actionSheetStyle,
      ]}>

Warning: Failed prop type: Invalid prop `co

[2020-05-05 15:26] ammarahm-ed commented on #21
@bobdeprez Yes, I will fix this in the next version. Thanks for reporting

[2020-05-11 08:13] jeanlucdu55 opened #22 "Actions sheet closes on first open"
Hi,

Thanks for the library, really appreciated!

I have a small issue, when I open the library for the first time, it closes automatically, then on the second time it works fine, any idea why?

Thanks,

Théo

[2020-05-12 08:41] ammarahm-ed commented on #22
@jeanlucdu55 are you facing this issue on Android or iOS?

[2020-05-18 08:34] ammarahm-ed commented on #21
Seems like you are using older version of actionsheet I already fixed it in the latest version

[2020-05-18 08:34] #21 closed

[2020-05-18 08:40] bobdeprez commented on #21
Hi, I have the last version, 2.6.0: "react-native-actions-sheet": "^0.2.6",

Is I look in node_modules I see for container style only the proptype object:

ActionSheet.propTypes = {
  children: PropTypes.node,
  CustomHeaderComponent: PropTypes.node,
  CustomFooterComponent: PropTypes.node,
  extraScroll: PropTypes.number,
  footerAlwaysVisible: PropTypes.bool,
  headerAlwaysVisible: PropTypes.boo

[2020-05-18 10:03] ammarahm-ed commented on #22
use the `delayActionSheetDraw`& `delayActionSheetDrawTime` prop to handle this

[2020-05-18 10:03] #22 closed

[2020-05-25 16:03] asp3 opened #25 "Support Background Interaction"
as the title says, i want to be able to have the action sheet show a little bit, but still have the buttons be clickable in the background.
![0C961218-BCFC-4173-B171-4E8CBC28F63A](https://user-images.githubusercontent.com/11220954/82828722-b7359a00-9e7f-11ea-8a8c-1eda1df1187b.png)

[2020-05-26 15:00] kwameaj67 opened #26 "action sheet cannot open? please help"
this is my code onPress={actionSheetRef.current.setModalVisible(true)}

[2020-05-26 16:28] ammarahm-ed commented on #26
@kwameaj67 see the example.

[code]

[2020-05-29 14:12] kwameaj67 commented on #26
Thanks. Working as expected

[2020-05-30 01:37] #26 closed

[2020-05-30 20:05] ammarahm-ed commented on #25
@aarongrider this feature is not supported yet. Will be implemented in the near future.

[2020-06-10 09:28] superandrew opened #29 "flatlist warning"
Hello, as soon as I put a `<Flatlist />` on this component I get the `VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead` warning.

Am I missing something? should I use something different for lists? Or is it normal and maybe it is just a matter of silencing the warning?

I plan to use this component as

[2020-06-10 19:50] superandrew opened #30 "Multiple components share the same <ActionSheet>"
Hi, is this component supposed to be used only as a provider-like way in App.tsx? I have wrapped it into multiple components in a Screen but it seems that the ActionSheet that gets opened is always the same.

Example:

[code]
and, in component which uses it,

[code]

Is this wrong? Is there a way to accomplish this using this compoent?

Thanks

[2020-06-11 04:05] ammarahm-ed commented on #30
Hey there, you are making the ref outside the `Dropdown` component. So all of them are using the same ref as it is defined in the global namespace. Try to define it inside the component maybe through `props`.
[code]

[2020-06-11 04:06] ammarahm-ed commented on #29
Lists inside the `ActionSheet` are not virtualized since it is using `ScrollView` for all the interacations. This is easily fixable but I have been a bit lazy lately to fix this issue. We just have to replace the `ScrollView` with a `Flatlist` and then use it for all the gesture handling.

[2020-06-11 05:47] superandrew commented on #29
Ok, I'll take a look if I am able to change it and then I will make a PR. Are there tests to run?

[2020-06-11 06:35] superandrew commented on #30
this works, thank you very much for the precious hint!

[2020-06-11 07:48] superandrew opened #31 "When data is received from a service, ActionSheet becomes not visible."
Probably there is an automatic toggle of the ModalVisible state. Is this by design?

If so I guess I could keep track of the modalVisible state outside the component? Or is there a way to disable the modalVisible automation?

Example gif:

Working with static data (provided from outside):
![CleanShot 2020-06-11 at 09 45 54](https://user-images.githubusercontent.com/71364/84359156-84eaa300-abc8-11e

[2020-06-11 08:04] ammarahm-ed commented on #29
No, there aren't any tests. Basically what you need to do is, load everything as the first item in `Flatlist` or load it inside the `Flatlist` header when you replace the ScrollView. I think everything will work as expected after that.

[2020-06-11 08:05] #30 closed

[2020-06-11 08:10] ammarahm-ed commented on #31
i don't understand, why is the `ActionSheet` hiding after you type and submit info? I use `ActionSheet` with dynamic data and it works just fine. The modal does not hide Automatically unless you call `setModalVisible` or press outside your component on the backdrop etc.

[2020-06-11 08:16] superandrew commented on #31
Ok weird, then I must have been some mistake. Well that is good news. Since I am embedding ActionSheet inside a `<Dropdown />` component, that might be related with re-rendering the component and reinstantiating `<ActionSheet />`? it should not, however.

This is my Dropdown component, which can receive an array of options, or a dataProvider method.

[code]

[2020-06-11 08:17] superandrew commented on #31
I manually set modalVisible(true) and modalVisible(false) manually so I wasn't expecting it to change visibility state of modal.

[2020-06-11 08:30] superandrew commented on #31
Ok, I noticed that the problem arises when I `setOptions` with the result of the fetch. By commenting it I get no new results but the modal stays open. Probably the problem is there, I'll look into it.

[2020-06-11 12:08] ammarahm-ed commented on #31
I think this is happening because the underlying dropdown component is rerendered. You can fix this simply but placing the `ActionSheet` globally outside your dropdown components. Then you can simply close and open the `ActionSheet` using an Event and pass the data in the event which is used to show the information. This way, your ActionSheet will never be rerendered once the App is created. It wi

[2020-06-11 20:27] superandrew commented on #31
I will try. Have you got any example on how to pass data through an event? I'm not sure I understood. Thank you for helping, though

[2020-06-11 20:36] ammarahm-ed commented on #31
Its pretty simple, place the ActionSheet alongside your flatlist then from each rendered component, call the ActionSheet opening function. Put the data you want to pass in the state, update the state, then open the ActionSheet. The ActionSheet will take the data as a prop and use it inside the component you have created.

[2020-06-11 20:59] superandrew commented on #31
ok, so I have a Screen in which I put the ActionSheet alongside a flatlist, the data in the state. Then I forward the ref from the screen to the Dropdown component, right? I will give it a try. Thanks! Btw maybe a modalVisible prop for Actionsheet could help it be managed from outside?

[2020-06-11 23:10] ammarahm-ed commented on #31
Even if you have the current information, still you cannot handle the issue you are facing.

[2020-06-15 18:56] #29 closed

[2020-06-15 18:56] ammarahm-ed commented on #31
this issue is stale and appears to be fixed for you. closing. reopen if needed.

[2020-06-15 18:56] #31 closed

[2020-06-23 18:56] rafaelsevla commented on #25
I also have this "problem"

[2020-07-08 12:14] SKonvisar opened #32 "Nested FlatList doesn't react to scroll gesture"
Hello. After updating component to 0.30.0 version I've tried to render FlatList in the ActionSheet, but nested flat list doesn't react to scroll gesture. Code example:

<img width="591" alt="Screenshot 2020-07-08 at 3 15 08 PM" src="https://user-images.githubusercontent.com/26097989/86917551-e6515380-c12d-11ea-9c88-dbf323b31b4f.png">

**ActionSheet Wrapper**
<img width="852" alt="Screenshot 2020-0

[2020-07-09 08:53] ammarahm-ed commented on #32
See the example to understand how to implement nested scrolling.

[2020-07-11 07:04] ammarahm-ed commented on #32
closing due to inactivity

[2020-07-11 07:04] #32 closed

[2020-07-13 14:01] hsnaydd opened #33 "Wrong device height calculation on Android devices"
Hi, the height calculation does not work correctly on Android devices. According to my research, we should subtract the status bar height from the window height. Because as far as I can observe, the modal starts under the status bar on Android.

<img src="https://user-images.githubusercontent.com/2880893/87312637-7ece4600-c529-11ea-9896-2ea796a90837.png" width="375" />

[2020-07-14 04:28] ammarahm-ed commented on #33
You mean to say the bottom navbar? Have you tried adding a Footer?

[2020-07-14 06:52] hsnaydd commented on #33
No, It is not related to the footer. You will understand what exactly I mean with the following image;

![Group 1](https://user-images.githubusercontent.com/2880893/87393498-f26a6480-c5b6-11ea-8576-e9ed66e6e5b8.png)

On Android Modal starts under the status bar but you set the modal height to device height, so part of the modal is off the screen.

[2020-07-15 03:34] #33 closed

[2020-07-15 07:24] itokallad opened #35 "I cannot make the input aware of the keyboard opening and asjust the view."
![actionsheet gif](https://user-images.githubusercontent.com/5172175/87515145-bcb0a300-c6be-11ea-9693-22a4e1d65f18.gif)

I am using a mapview with the markers of the restaurants. When clicked on the restaurant marker in the map , i display the actionsheet with input to write some notes. However the keyboard blocks the actionsheet completely. I cannot figure out how to solve the problem.

My Code s

[2020-07-15 12:48] ammarahm-ed commented on #35
Send a gif/video to demonstrate the issue you are facing.

[2020-07-21 17:20] imranweb opened #37 "Event to get the dragged position"
Is there way I can detect the current position of actionsheet on drag?
e.g. When user is scrolling up/down using the gesture, I want to trigger some event when it reaches to certain threshold.

[2020-07-31 03:35] godievski opened #39 "Alert component gets closed after the component hides"
Inside the component ActionSheet I have a touchable component (react-native) the programmatically hide the ActionSheet component and  triggers an Alert (react-native component), on that specific order. The alerts shows up, but then it disappears. It could be related to the Modal component that this framework uses.

Additional information:
React-native: 0.62.2
React: 16.12.0

The only workaround fo

[2020-08-04 22:39] Cookizza commented on #35
Any update on this? Currently it's not possible to take input on the action sheet on android, as the keyboard covers the action sheet.

[2020-08-12 04:17] ammarahm-ed commented on #35
i will fix this, its caused by the `KeyboardAvoidingView` being disabled.

[2020-08-18 11:58] ammarahm-ed commented on #37
There is no such event

[2020-08-18 11:59] ammarahm-ed commented on #35
Fixed

[2020-08-18 11:59] #35 closed

[2020-08-18 12:01] ammarahm-ed commented on #39
First close the ActionSheet then show the Alert. The library uses the Default Modal provided by React Native.

[2020-08-18 16:00] dmantelli opened #40 "ReferenceError: Keyboard is not defined"
With the simple example, when I try to open the screen an error occurred:

ReferenceError: Keyboard is not defined in ActionSheet.

Additional information:
React-native: 0.62.2
React: 16.11.0
OS: latest MacOS X & latest iOS 13

[code]

[code]

[2020-08-18 16:13] ammarahm-ed commented on #40
Hey! thanks for reporting, I will fix this in a few minutes and publish a new version

[2020-08-18 16:16] ammarahm-ed commented on #40
I just published a new version that fixes this!. **v0.3.3**

[2020-08-18 16:16] #40 closed

[2020-08-19 03:33] #37 closed

[2020-08-20 19:55] Jalson1982 opened #41 "Everything is broken after latest changes!"
Hello. After you handle Keyboard there are issues that breaks everything. On Ios there is error:

<img width="425" alt="Screenshot 2020-08-20 at 21 55 05" src="https://user-images.githubusercontent.com/35011526/90819102-cff30600-e32f-11ea-96cd-d6d5560dd74d.png">

On android, it starts to open kb and close it...

[2020-08-20 20:04] ammarahm-ed commented on #41
What is your RN version? It is working fine in my app on RN 0.63.2. I have
no errors on Android or iOS. Also try to example app once with the latest
version of library.

On Fri, Aug 21, 2020, 12:55 AM Jalson1982 <notifications@github.com> wrote:

[2020-08-20 20:07] Jalson1982 commented on #41
"react-native": "0.62.2" ... for me all is broken. Basically this line:
const currentlyFocusedField = TextInput.State.currentlyFocusedInput
? TextInput.State.currentlyFocusedInput()._nativeTag
: TextInput.State.currentlyFocusedField(); is null always and it breaks...

[2020-08-20 20:14] ammarahm-ed commented on #41
Try the example, I have tested it and it was working fine. There must
something strange that you are doing, it is unable to find a focused field
when it should technically. Update package.json with the latest version
before you run yarn.

On Fri, Aug 21, 2020, 1:07 AM Jalson1982 <notifications@github.com> wrote:

[2020-08-21 00:38] ammarahm-ed commented on #41
@Jalson1982 So I have tested on RN 0.62.2 and everything is working perfectly. There is some issue in your own code.

[2020-08-25 07:15] mortocks opened #42 "Child input element with autofocus"
Great library but am having trouble having the sheet appear with the keyboard already focused on a child element. using

[code]

the sheet jumps up and down on and off the screen forever.

If there is another api implementation to achieve the sheet appear with the keyboard and an input selected I'd be super grateful.

[2020-08-25 07:23] ammarahm-ed commented on #42
There isn't, focus the input after the ActionSheet is displayed.

[2020-09-09 07:34] itokallad commented on #35
Still The keyboard covers the action sheet.
Could you actually show me that it is fixed ?
Probably some demo
Thanks

[2020-09-12 04:22] Maclay74 opened #44 "Sheet slides down when input text"
Hi, thanks for such amazing library.

I experience problem with input field inside sheet on Android.

When I focus on input field, sheet changes its size accordingly, but when I start typing something, it slides down.
However, when I open it again, it works as intended.

And probably it's related to the parent, which has flexGrow: 1. When I disable it, problem disappear.

Do you have any suggestio

[2020-09-12 17:38] simuxs commented on #35
I have the same issue.

[2020-09-13 03:58] ammarahm-ed commented on #35
@itokallad Have you tried the example app?

[2020-09-14 20:59] niteshkumarniranjan opened #45 "Touchable elements inside ActionSheet doesn't work in android"
First of all, I'd like to thank you guys for building this component 💙.
I was trying to use it on my app and it works on very smoothly on iOS and Android as well.
The issue I am facing is that these `TouchableOpacity` elements aren't clickable/pressable in **android**.

[code]

[2020-09-17 06:26] catnuxer opened #46 "Closed automaticaly when using graphql + flatlist"
Hi @ammarahm-ed  do you able using flatlist in rerender data ?, I have try using flatlist it's closed automaticaly only when data using query graphql. but it works well when data static.

[2020-09-18 08:44] ammarahm-ed commented on #46
Its because your component is rerendered and the ActionSheet is in the same component. Move it out, place it on a higher level component and show/hide with events.

[2020-09-19 23:01] niteshkumarniranjan commented on #45
Closing as it's an issue with `react-native-gesture-handler` and not with `react-native-actions-sheet`

[2020-09-19 23:01] #45 closed

[2020-09-23 07:46] Jalson1982 opened #47 "TabBar visibility when open bottom sheet"
Hello,

I am trying to show the bottom sheet on-screen but tab bar must be visible so I need to render it above the tab bar. Any idea how to achieve it if it is even possible with modal in use?

[2020-09-25 03:32] ammarahm-ed commented on #47
not possible with a modal.

[2020-09-25 06:12] #47 closed

[2020-09-25 06:12] #46 closed

[2020-09-25 06:13] #42 closed

[2020-10-06 17:14] MrXyfir commented on #25
@ammarahm-ed Any update on timeline for this?

[2020-11-01 13:58] efstathiosntonas commented on #39
@ammarahm-ed
I'm facing this issue too, tried first closing the ActionSheet then showed an `Alert.alert(...)` but the moment the alert appears, it closes. Tried `setTimeout` but it persists. Any ideas on how to deal with this?

@godievski did you find a solution or a workaround?

[2020-11-03 00:55] mortocks commented on #44
+1 but for me this behaviour only appears to happen on Android, iOS works just fine

[2020-11-03 06:18] ammarahm-ed commented on #44
Hey there, I will try to debug this, can you leave a simple example code of how you are using flexGrow? @mortocks

[2020-11-11 22:49] baatten opened #49 "action sheet closes when state is updated, is that normal?"
is there a way to avoid the action sheet to not close when state is updated.

in my case I have an async call that updates a textfield inside the action sheet.

thanks a lot

[2020-11-12 05:12] ammarahm-ed commented on #49
@baatten Refactor your code. I have tested & the ActionSheet does not close for me on state update. Leave an example of your implementation.

[2020-11-12 08:13] baatten commented on #49
Never found my error, as a solution I went with modal in react native instead. Thanks for response. Closing here.

[2020-11-13 06:20] moedeveloper opened #50 "@babel is not found"
Module not found: Can't resolve '@babel/runtime/helpers/classCallCheck' in '....\node_modules\react-native-actions-sheet\src'

and I try to import

  addHasReachedTopListener,
  removeHasReachedTopListener,

as you did in the example they are not exported from the package

also  see bellow

![image](https://user-images.githubusercontent.com/16238332/99041127-a5a99100-258a-11eb-8910-7bd904981097.pn

[2020-11-18 00:12] tanveersalmangkn opened #51 "Doesn't opens when using Class base component."
Does it not support using Class base component? I know Class base components are not being used anymore. But I am stuck with some old code base project.

[2020-11-18 05:36] ammarahm-ed commented on #51
Yes it does. how are you implementing it

[2020-11-30 05:49] #51 closed

[2020-12-09 22:07] ex-git opened #52 "CustomHeaderComponent with borderRadius"
When using CustomHeaderComponent with borderRadius set > 9 the default white background will show behind the custom header component.
I want to change the background color of the header component. Is there a props to set that?

[2020-12-23 16:39] ammarahm-ed commented on #52
I think you can do it with `containerStyle` and set the background color of the main container or change the borderRadius so it matches with the header component.

[2020-12-25 04:03] ex-git commented on #52
I can't get it to work. I can set background color in containerStyle. But borderRadius won't go over 9. Below example code still get radius like 9.

containerStyle={{
    borderRadius: 100, // big number just for example
}}

[2020-12-25 19:07] pikulik-disco opened #53 "Scroll within Flatlist is not working on android with gestureEnabled true"
### Android
**Desired behavior:**
Flatlist as a child of ActionSheet **IS** scrollable and ActionSheet **CAN** be close with a gesture.

**Actual behavior:**
`gestureEnabled={true}`
Flatlist as a child of ActionSheet **IS NOT** scrollable. ActionSheet **CAN** be close with a gesture.

`gestureEnabled={false}`
Flatlist as a child of ActionSheet **IS** scrollable. ActionSheet **CAN NOT** be close wi

[2020-12-27 07:40] ammarahm-ed commented on #53
@pikulik-disco Hey there! I am unable to get the FlatList to Scroll with gestureEnabled={false} also. Can you share an example of how you were able to get it to Scroll inside the ActionSheet?

[2020-12-28 12:39] Dalamar commented on #53
I managed that via Flat list component from react-native-gesture-handler and with a fixed height of the FlatList container.
`import { FlatList } from 'react-native-gesture-handler';`

[2020-12-28 13:36] ammarahm-ed commented on #53
@Dalamar I will see If I can add some workaround to make sure both gestures and scrolling works. It's actually a React Native limitation.

[2020-12-28 20:34] ammarahm-ed commented on #52
fixed in v0.4.0

[2020-12-28 20:34] #52 closed

[2020-12-28 20:34] ammarahm-ed commented on #53
new version out, v0.4.0

[2020-12-29 09:51] Dalamar commented on #53
Thanks for quick response and great effort.

Unfortunately I can't tell whether it solves the issue as current version doesn't open the actions sheet content.
It only shows action sheet header component at the bottom of the screen:

![Simulator Screen Shot - iPhone 11 - 2020-12-29 at 12 49 47](https://user-images.githubusercontent.com/321632/103275070-60bfa980-49d4-11eb-8ffe-35cd815fa99c.png)

I a

[2020-12-29 10:39] ammarahm-ed commented on #53
@Dalamar do not use flex on top most view inside ActionSheet.

[2020-12-29 19:31] pikulik-disco commented on #53
v0.4.0 fixes this issue.
Thank you very much!

[2020-12-29 19:31] #53 closed

[2020-12-30 05:29] ammarahm-ed commented on #53
@pikulik-disco make sure you update to 0.4.2

[2021-01-07 18:09] buraksakalli opened #55 "Webview in Actionsheet aint working on Android"
I'm using ActionSheet with Webview. I enabled `gestureEnabled` and add `CustomHeaderComponent`. When I enable gesture on Android the webview scroll not works.

`"react-native": "0.63.2"`
`"react-native-actions-sheet": "^0.4.2",`

[2021-01-13 06:38] derick-bai commented on #53
Sorry for posting on a closed issue. I was able to make the scrolling work using `ScrollView`. However I can't make it work when using `FlatList`. Here's my code

[code]

`sampleData` is an array of simple object each containing just `id` and `text`. I think my code looks pretty much the same as your example above. But the `FlatList` just won't scroll (on the device I'm using to test, with the act

[2021-01-13 06:41] ammarahm-ed commented on #53
@derick-bai use `FlatList` from `react-native-gesture-handler`

[2021-01-13 06:56] derick-bai commented on #53
@ammarahm-ed  Thank you for the quick reply. Using the `FlatList` from `react-native-gesture-handler` and the scrolling worked!

Now I have a different problem - whenever the scrolling finishes I got this error "actionSheetRef.current.handleChildScrollEnd is not a function". I modified the code to where I call this function
[code]
Still got the same error. What did I miss? Or I should check if `ac

[2021-01-13 07:04] ammarahm-ed commented on #53
You need to define the ref first:

[code]
Also try to console.log `actionSheetRef.current`
[code]

[2021-01-13 07:19] derick-bai commented on #53
@ammarahm-ed  I did define actionSheetRef. Sorry the definition was not pasted in the code snippet I provided above.

I added `console.log(actionSheetRef.current)` inside the `onScrollEndDrag` event, and it output a lot of stuff... here is a snippet of it

[code]

[2021-01-13 07:22] ammarahm-ed commented on #53
Your version of react-native-action-sheet is older. try running

[code]

[2021-01-13 07:35] derick-bai commented on #53
@ammarahm-ed I already install the latest version (using npm) before I posted the initial error above. Just check again the version number is 0.4.2. Should be the latest? BTW, I'm using Expo, although it probably doesn't matter.

[2021-01-13 08:21] ammarahm-ed commented on #53
from the logs it appears that you are using an older version. even if you have the latest, run the above command again.
[code]

[2021-01-13 19:23] derick-bai commented on #53
I'm using npm. And I tried uninstall it and reinstall the latest version. Still get the same error. But eventually I made it work by removing the following code ...
[code]
After that the scrolling works without issue, on both iOS and Android.

Not sure exactly why, but to summarize. What fixed my problem is the use of
[code]
Instead of using the `FlatList` from `react-native`.

Thank you again for

[2021-01-14 21:28] ammarahm-ed commented on #25
@MrXyfir coming soon

[2021-01-14 21:29] #5 closed

[2021-01-14 21:29] #44 closed

[2021-01-26 18:03] focux opened #56 "FlatList not rendering inside action sheet."
Today I updated the package to fix some issues that I had and for some reason, in the last version, the FlatList that are inside the `ActionSheet` component is not rendering.

[2021-01-26 18:27] ammarahm-ed commented on #56
Can you share more detail and some code related to the issue?

[2021-02-01 15:07] focux commented on #56
Sure. So the issue is that if I put a `FlatList` inside the `ActionSheet` component, the `FlatList` does not get rendered, the action sheet it's completely blank. My code looks a bit like this:

[code]

And this is what It renders:
![image](https://user-images.githubusercontent.com/3316818/106476127-191db900-647d-11eb-8555-dcd21b58355a.png)

I've tried adding a fixed size to the FlatList and the c

[2021-02-01 18:37] ammarahm-ed commented on #56
Share the styles of your components especially the list.

On Mon, Feb 1, 2021, 8:07 PM Leonardo E. Dominguez <notifications@github.com>
wrote:

[2021-02-04 11:48] te-online opened #57 "Keyboard avoiding transformY seems to increase when multiple input fields are stacked"
When I stack multiple input fields, wrapped by `Views`, it seems that the "gap" at the bottom increases to an evermore excessive amount to compensate for the keyboard. With one input field it works just fine, but with three I observe some weird effects.

Tested with version `0.4.2`
react-native `0.63.2`
expo `39.0.5`

I've been getting as close to the [example](https://github.com/ammarahm-ed/react

[2021-02-04 16:23] ammarahm-ed commented on #57
Hey there, the keyboard handling code is changed on the develop branch. Can
you test it and see if it is working as expected. Ignore the flicker since
i have to fix it.

On Thu, Feb 4, 2021, 4:48 PM Thomas Ebert <notifications@github.com> wrote:

[2021-02-04 17:21] baatten commented on #49
I found out why this happens.

if you update buttons loading state from its oppress the ActionSheet will close with the backdrop still there.

<ActionSheet ref={this.sheetRef} >
<Button loading={this.state.isLoading}  onPress={() => this.setState({isLoading:true})} />
</ActionSheet>

[2021-02-05 12:07] te-online commented on #57
Hey @ammarahm-ed, thanks for your quick reply – I tried the code in `develop`, but it didn't change much. Only that the distance is growing by a bit smaller amount and that the sheet's overflow to the bottom is now hidden. 😕

[2021-02-05 15:47] te-online commented on #57
I experimented a little with the example. Adding more input fields and wrapping them in `Views`. Also applying some of the styling I'm using in my own component. But I couldn't quite reproduce the issue, although it seems somewhat unreliable where each input happens to “land” after focusing it.

[2021-02-08 00:03] IceDev-xyz opened #58 "Feature request - drag-up to bounce."
When the sheet is visible, the user can close it by drag it down, dragging up _should_ also have an effect: bounce back to its size.

It just looks cool :)

https://user-images.githubusercontent.com/54909232/107163278-5c40c600-696e-11eb-82f7-ae598df003d0.mp4

[2021-02-17 10:36] lukebars commented on #9
@ammarahm-ed scrollview works like a charm in iOS, android doesn't scroll at all on `0.4.2`:

[code]

[2021-02-17 10:41] ammarahm-ed commented on #9
@lukebars check the example App and compare your implementation. You should set nestedScrollEnabled on the ScrollView, not the ActionSheet.

[2021-02-18 23:50] SaltedBlowfish opened #59 "Methods Missing from Type Definitions"
`addHasReachedTopListener` and `removeHasReachedTopListener` are missing from the TypeScript definitions causing an error when importing from `react-native-actions-sheet`.

Reproduction:

1. Start TypeScript React Native project
2. Import the required functions:
[code]

Output:
[code]

[2021-02-20 18:35] ammarahm-ed commented on #59
I will add the defs! Thanks for reporting

[2021-03-11 15:45] JordanSalinas opened #60 "Always keep full sheet above the keyboard"
Is there a way to keep the entire sheet above the keyboard? Currently when the user focuses an input the keyboard will pop up and cover whatever portion of the sheet is below the input that is focused.

[2021-03-15 12:10] dgsunesen commented on #57
It doesn't seem to be an issue running Android 11. I see that there is a design change on the keyboard between v10 and v11 of Android, but dimensions seems to be the same though.

[2021-03-28 16:57] naderalfakesh commented on #59
Currently I am using until we get the defs in the new release:
Thanks in advanced
[code]

[2021-04-05 09:51] BerkeAras commented on #49
Same issue. @baatten, I can't fix, how did you do that?

[2021-04-05 09:54] baatten commented on #49
in my case if was because I was using the Loading prop on a button inside the action sheet.

like

<Actionsheet>
<button loading={this.state..xxxxx}>
</actionsheet>

when this.state.xxxx is updated the action closes. so look for things inside the action sheet that might update while being open.

[2021-04-05 09:55] BerkeAras commented on #49
In my case, the Action Sheet loads some data from my API and displays it in a list. Unfortunately, the action sheet closes :(

[2021-04-05 09:56] baatten commented on #49
yeah. use modal from react native instead.

[2021-04-05 13:38] BerkeAras opened #64 "Sheet does not implement the fullscreen-size correctly if the height is too big"
See video:
https://user-images.githubusercontent.com/36629890/113579619-dadf7a00-9624-11eb-93cd-14bf0b155105.mp4

[2021-04-08 11:33] httpamit opened #65 "Sheet takes a lot of time when you will have a large amount of data"
I wanted to display a country list with country code, the sheet is taking a lot of time in the opening, and once open, if you click any of the list items it will take time to update the data.

[2021-04-18 14:56] ammarahm-ed commented on #64
Try v0.4.3 which is supposed to fix this problem.

[2021-04-18 14:56] #64 closed

[2021-04-18 15:06] ammarahm-ed commented on #59
fixed on master

[2021-04-18 17:11] #59 closed

[2021-04-18 17:15] ammarahm-ed commented on #49
@BerkeAras Give me an example code to reproduce this so I can look into it.

[2021-04-19 07:31] efstathiosntonas commented on #59
@ammarahm-ed why `onPositionChanged` is a mandatory prop? I think it should be optional

[2021-04-19 07:32] ammarahm-ed commented on #59
Yeah, I think I forgot to add "?" in type defs

[2021-04-19 07:32] ammarahm-ed commented on #59
Yeah, I think I forgot to add "?" in type defs

[2021-04-19 07:47] ammarahm-ed commented on #59
Published new version with the fix.

[2021-04-19 07:47] ammarahm-ed commented on #59
Published new version with the fix.

[2021-04-19 07:48] efstathiosntonas commented on #59
Thanks for the quick fix!! Keep up the great work!

[2021-04-19 16:54] ammarahm-ed commented on #58
@IceDev-xyz Cool effect! I will look into implementing it.

[2021-04-20 15:48] Shahanshah87 opened #66 "extra white bar on top and bottom"
Extra white bar (background) is coming :-

`<ActionSheet
                        `initialOffsetFromBottom={1}`
                        bounceOnOpen={true}
                        bounciness={8}
                        gestureEnabled={true}
                        ref={actionSheetRef}>
</ActionSheet>
`
even after `initialOffsetFromBottom={1}` after this.

[2021-04-21 04:19] ammarahm-ed commented on #66
@Shahanshah87 Can you send a screenshot or something to explain?

[2021-04-21 09:54] MahiBuger opened #67 "Actionsheet on actionsheet not working."
When i try to open two different actionsheets at same time already open was closed in iOS, while in android second actionsheet was opened. But when i close second sheet first one also closed.

[2021-04-21 19:00] ammarahm-ed commented on #67
provide example/code

[2021-04-21 21:43] knobandre opened #68 "How to stop scrolling in nested list affecting the action sheet"
As it can be seen in the video, when scrolling in a nested list and when the scroll is at the upper or lower limits, the action sheet itself starts being affected by the scrolling gesture. Is there any way to stop this? I'd like for the action sheet to move only when the user makes a scroll gesture outside the nested list.
Even setting `gestureEnabled={false}` in the action sheet doesn't stop it f

[2021-04-23 19:50] ammarahm-ed commented on #68
The issue is on Android because nested scrolling doesn't work very well here. At a time only one ScrollView can receive the events. The current implementation allows user to Scroll both fluently however it does over scroll. Here is what you can do to achieve something similar to this.

Set `nestedScrollEnabled={false}` on your child scroll view.

Use the onScroll callback prop on your child scroll

[2021-04-25 18:47] aliceInWahed opened #69 "Action sheet is dismissed if clicked on the status bar"
Not sure if anyone has this issue. I was testing over the example code. The action sheet is dismissed if I clicked on the status bar. and it is unable to show again, even with the Open ActionSheet button.

https://user-images.githubusercontent.com/79141836/116005476-aebe8400-a639-11eb-886c-c7fbef0aad7c.mov

[2021-04-25 22:56] ammarahm-ed commented on #69
I will check.

[2021-04-26 03:42] ammarahm-ed commented on #69
Fixed on 0.4.7. now ActionSheet wont close tapping on statusbar

[2021-04-26 03:42] #69 closed

[2021-04-26 08:47] aliceInWahed opened #70 "snapToOffset function will trigger _returnToPrevScrollPosition"
Hi, I have tried to call snapToOffset function in the CustomHeaderComponent to show like dismissing the action-sheet to the bottom when clicking on the header.

However, the _onScrollEnd function will get called each time after onScroll function. Again, the action sheet will call _returnToPrevScrollPosition.

Not sure what do I miss here. Appreciate any helps. Thanks.

https://user-images.githubus

[2021-04-26 17:21] ammarahm-ed commented on #70
@aliceInWahed I think I understand the problem. I will fix it.

[2021-04-26 17:54] ammarahm-ed commented on #70
@aliceInWahed Hey, I have fixed the problem. Can you test it using the master branch?

`yarn add https://github.com/ammarahm-ed/react-native-actions-sheet`

[2021-04-26 21:11] knobandre commented on #68
I tested your updated example with both ios and android simulators, and as you said, it was already working perfectly on ios.
Unfortunately with this solution on android I faced a lot of stuttering with the scrolls (on changing from scrolling the scroll view to the action sheet and vice versa). If you need I can provide a video.
Did this happen to you and did you test with a real device? I was gue

[2021-04-27 03:15] aliceInWahed commented on #70
HI @ammarahm-ed, thanks for fixes. Yep I have tested. it works well. 🎶

However I realised another issue with the closable and bottomOffset.
as far I set

` onClose={onClose}
          closable={false}
          bottomOffset={200}`

the action sheet doesn't shift to the bottomOffset value which I set. it is return to the initialOffsetFromBottom value position.

I am not sure if this is a similar i

[2021-04-27 03:28] ammarahm-ed commented on #70
It is a similar issue. I will investigate it today.

And you are saying that even with closable set to false, the ActionSheet should be dismissable by after going beyond x offset?

[2021-04-27 03:31] ammarahm-ed commented on #68
@knobandre I tested on Android with real device.. Didn't notice any stutter. It should not stutter anyways because we aren't doing anything as such that would cause it.

[2021-04-27 03:37] aliceInWahed commented on #70
Yes yes, that's the idea I have which u have put it in words perfectly. Thank you

[2021-04-27 03:43] aliceInWahed commented on #70
Hi @ammarahm-ed, I think the idea is the actionSheet is dismissed to bottomOffset if going beyond x offset, otherwise, go back to initial offset.

[2021-04-27 09:09] ammarahm-ed commented on #70
And what if user pulls down from the bottomOffset? Should the ActionSheet be dismissed even with closable set to false?

[2021-04-27 09:18] aliceInWahed commented on #70
nope, to me, I feel the actionSheet should always return to bottomOffset when closable set to false. this is the initial purpose of having closable and bottomOffset, right?

return to bottomOffset if
1. pull down beyond bottomOffset
2. pull down from the bottomOffset/out of the screen

Sorry if I got the wrong idea. :(

[2021-04-27 09:34] ammarahm-ed commented on #70
Okay, I will fix the bottomOffset issue.

[2021-04-27 09:43] aliceInWahed commented on #70
so if the user scrolls the actionSheet beyond the bottomOffset, the actionSheet will be snap to bottomOffset. When scroll up/down to initialOffset, actionSheet will move up/down and snap to initialOffset. and if scroll to the top, ActionSheet will be in full screen. Otherwise, it will go back to initialOffset value.

Basically there will be 3 points, top, initial offset, bottom offset.

Do I get t

[2021-04-27 09:45] ammarahm-ed commented on #70
@aliceInWahed Yes

[2021-04-27 14:25] AndreasGS opened #72 "`onPositionChanged` is required in index.d.ts"
The documentation says that `onPositionChanged` is not required but it's required in `index.d.ts`.

[2021-04-27 17:56] ammarahm-ed commented on #72
I will fix it

[2021-04-28 13:26] ammarahm-ed commented on #72
Fixed on master

[2021-04-28 13:26] ammarahm-ed commented on #70
@aliceInWahed i have fixed it on master, can you try again

[2021-04-28 14:51] #72 closed

[2021-04-29 14:21] kalimah-apps commented on #12
Which property enabled this behavior? I could not find any reference in documentation.

[2021-04-29 15:08] ammarahm-ed commented on #12
Use this closable prop

[2021-04-30 05:29] aliceInWahed commented on #70
HI @ammarahm-ed, it's working perfectly. Kudos to u. Thanks a thousand!

[2021-04-30 05:38] ammarahm-ed commented on #70
Great. I will release the new version then

[2021-04-30 07:10] #70 closed

[2021-05-01 05:17] unixvb opened #73 "onPositionChanged callback looped & content jumping on first open"
The component is rendered straight under `SafeAreaProvider`.
[code]

![image](https://user-images.githubusercontent.com/10281464/116771563-33077180-aa55-11eb-92ec-637db90881d8.png)

This bug causes content jumping on the first `open`.
It's reproduced in ~80% of first renders.

Version used:
`"react-native-actions-sheet": "0.4.7",`

[2021-05-01 05:25] unixvb commented on #73
There are 2 cases:
 1. `gestureEnabled={true}` - `onPositionChanged` called from `_onScroll` (much easier to reproduce).
 2. `gestureEnabled={false}` - `onPositionChanged` called from `_showModal` && `_onScroll` (reproducing rarely).

[2021-05-01 06:46] unixvb commented on #73
I figured out that first render content jumping and `onPositionChanged` are 2 different issues.

`AnimatedSafeAreaView` `onLayout` is called due to some "magic" `height` changes on the first render.
`containerStyle={{ height }}` do fix that.

Content container is jumping on the first render due to `transformValue` initial value
```this.transformValue = new Animated.Value(0);  // Container is opene

[2021-05-01 17:21] ammarahm-ed commented on #73
@unixvb try the example code because it works normally. Compare.

[2021-05-03 08:52] lukebars commented on #72
@ammarahm-ed any news on planned release?

[2021-05-04 09:48] ammarahm-ed commented on #72
Will do today

[2021-05-04 11:39] efstathiosntonas commented on #73
@ammarahm-ed i've got the same issue and i've reverted to 0.4.2 to "fix" it. Strange this is that is not happening all the times, sometimes the sheet opens and starts jumping like crazy and some other times it opens just fine. I haven't changed anything when going from 04.2 to 0.4.7, it just started happening.

[2021-05-04 12:40] ammarahm-ed commented on #73
Is it happening only on iOS or android too?

[2021-05-04 12:41] efstathiosntonas commented on #73
Haven’t tested it on Android, will test and provide feedback asap

[2021-05-04 12:55] ammarahm-ed commented on #73
It could also happen if the component inside actionsheet or the ActionSheet is being constantly rerendered. Also check that. The only reason this can happen is that when user scrolls, state is updating and onLayout is getting called over and over.

[2021-05-04 14:41] efstathiosntonas commented on #73
I haven’t changed anything in these components and with 0.4.2 it works perfectly. I think the issue started when the height calculation was changed in this commit: https://github.com/ammarahm-ed/react-native-actions-sheet/commit/7424cb91e9bf672f7a2bafd22065b85cfa686969

[2021-05-05 05:38] ammarahm-ed commented on #73
@efstathiosntonas Yes but it is only calculated once when the ActionSheet opens. I will investigate this more and see what might be the cause. I changed the calculation because it is more accurate when calculating the SafeAreaView top padding.

[2021-05-05 06:39] efstathiosntonas commented on #73
@ammarahm-ed tried it on Android, no jumping issues so yes, it happens only on iOS

[2021-05-05 06:48] ammarahm-ed commented on #73
Okay, can you post an example of your implementation that includes the props you have set on ActionSheet and the style of top most component inside it

[2021-05-06 02:57] KendallWeihe commented on #73
This is happening to me as well. On iOS. Occurs intermittently. When it occurs, action sheet is "jumpy" (per previous descriptions) but also locks up my iOS Simulator. My CPU usage spikes to 80% and hovers there until I quit the Simulator.

I tried pegging to `0.4.2` but issue still seems to be occurring.

Implementation is simple:

[code]

[2021-05-06 04:16] ammarahm-ed commented on #73
Hey, so I have noticed that if you do something like this:
[code]
It will happen consistently. However if it's all wrapped in a View:
[code]
It doesn't happen. Maybe I am wrong but let me know.

[2021-05-06 04:19] ammarahm-ed commented on #73
I have noticed that this doesn't happen if <Things/> are wrapped in a <View/>.

[code]

[2021-05-06 12:36] ammarahm-ed commented on #73
Hey @efstathiosntonas @KendallWeihe Can you test using master branch? I have fixed the problem I think.

[code]
Deleted all cache, node modules etc & rebuilt

[2021-05-06 14:27] KendallWeihe commented on #73
@ammarahm-ed Latest on master is working as intended. Can you ping this thread when you publish a package patch?

[2021-05-06 18:41] ammarahm-ed commented on #73
@KendallWeihe I will close the issue when I release tomorrow so you will know.

[2021-05-06 18:44] efstathiosntonas commented on #73
Thanks @ammarahm-ed, unfortunately I will be able to test in about 12hrs. Github is acting up and I just got the email about the issue updates.

[2021-05-06 19:05] ammarahm-ed commented on #73
@efstathiosntonas No worries, I will wait until I get your input on it so I can publish the new version

[2021-05-06 22:35] blaze-nitd opened #74 "Change Color of the action Sheet"
Hi, I am working on an app where I need to show the action sheet in dark grey in dark mode. Can you let me know if I can achieve that or not? :). Thanks

[2021-05-07 06:06] efstathiosntonas commented on #73
@ammarahm-ed just tested on iOS, looks good to me! Thanks for the fix!

[2021-05-07 06:43] ammarahm-ed commented on #74
use `containerStyle` prop

[2021-05-07 06:43] ammarahm-ed commented on #73
okay! Thanks for testing.

[2021-05-07 09:46] ammarahm-ed commented on #73
Released `v0.4.8`

[2021-05-07 09:46] #73 closed

[2021-05-07 09:46] #68 closed

[2021-05-07 09:46] #74 closed

[2021-05-07 09:46] #66 closed

[2021-05-07 09:49] ammarahm-ed commented on #58
The effect can be produced using the current implementation. Just set `initialOffsetFromBottom` to `0.95`or `0.90`.

[2021-05-07 09:49] #58 closed

[2021-05-07 09:49] #57 closed

[2021-05-07 09:50] #50 closed

[2021-05-07 18:09] ramos-lucas opened #76 "How can I test the visibility of actionSheet/content?"
I'm using `@testing-library/react-native` to test my app and I noticed that the content of the action sheet is present in the component tree even when it is closed.

Is there a way of testing this?

[2021-05-07 18:40] ammarahm-ed commented on #76
That's normal. Modal works like that. If you don't want it to be in the component tree, you can hide it using state. I think there is a testID prop you can use to give test ID to ActionSheet to test it.

[code]

[2021-05-07 20:17] ramos-lucas commented on #76
Yes, I tried to do that, but I had some problems because the reference is destroyed. I tried something using useEffect / useLayoutEffect and onClose prop, but I started to have some problems with the animation

[2021-05-08 10:21] ammarahm-ed commented on #76
Show me how you are doing it. You need to set state then call `show` after 50 to 100ms using setTimeout.

[2021-05-12 07:32] blaze-nitd opened #79 "How to test actions sheet in jest"
Hi our team is using Snapshot testing using jest. I am not able to find a suitable way to test this actionsheet.Can you provide a detailed explanation please

[2021-05-12 08:14] ammarahm-ed commented on #79
Use the `testID` prop.

[2021-05-12 20:15] arakovskis commented on #60
You can increase your input height to action sheet height and wrap actionSheet into keyboardavoidingview.

[2021-05-13 09:47] mateattilabarna opened #80 "Multiple action sheet issue on the same screen"
I tried to insert two action sheets in my screen, here is my code:

[code]

I tried also in functional component and class based component. The issue is that the extraScroll parameter doesn't work for the secondly opened action sheet:

![1](https://user-images.githubusercontent.com/19281761/118108721-a196e880-b3e0-11eb-82e5-5e5f8b335510.png)
![2](https://user-images.githubusercontent.com/19281761/

[2021-05-13 09:48] mateattilabarna commented on #80
@ammarahm-ed  if you could take a look at the issue I would really appreciate it! Thank you in advance!

[2021-05-17 11:52] blaze-nitd commented on #79
How will we invoke the component? I am using forwardRef and passing ref type and actionSheet required props there. Please help

[2021-05-20 07:09] ammarahm-ed commented on #80
@mateattilabarna what are you trying to achieve here. i don't see a problem. can you share a video to demonstrate the problem. You can simply use `containerStyle` prop to add bottom padding to ActionSheet so the content doesn't hide.

[2021-05-24 04:14] luismasg opened #81 "typo in code causing crash with Async keyword"
https://github.com/ammarahm-ed/react-native-actions-sheet/blob/9e90bfa791052f037e75c4f1ff06e6f032f347dc/src/index.js#L181

this line caused crash with text ' Async is not defined '

i rewrote line to ```  measure = (async () => { ```

and it works so far.

[2021-05-24 09:03] calinpastean commented on #73
https://user-images.githubusercontent.com/55287082/119322970-df202f00-bc86-11eb-95d1-633546dc7688.mp4

Got a similar issue in 0.4.8 android only.

[code]

and the styling (doesn't matter, it does this without any containerStyle prop:

[code]

[2021-05-27 03:41] #81 closed

[2021-05-31 20:13] blaze-nitd opened #84 "Dont want talkback to read the header once the actionsSheet is opened"
The talkback is reading the header of actionssheet while opening which I don't want. I want the focus to go into the view directly. Please help

[2021-05-31 21:10] blaze-nitd commented on #84
Instead its going outside the actions sheet and reading just the header out. Please help.

[2021-06-01 06:57] natemartins opened #86 "Close multiple open action sheets at once"
I have multiple action sheets open. An action sheet opens from another action sheet. Image below

![photo_2021-06-01_07-50-30](https://user-images.githubusercontent.com/49047480/120279571-836d2b80-c2ae-11eb-9dd8-f69f49df5885.jpg)

I want to close all the previously opened action sheets from the last one when an action is performed. It's not currently able to that.

Expected behaviour: Close all op

[2021-06-06 20:37] blaze-nitd commented on #84
Please help

[2021-06-09 04:38] saurav-bhagat opened #87 "Action sheet not opening on component re-render."
Action sheet version: "0.4.9"
React native version: 0.63.4

My parent component:

[code]

InputActionSheet Component:

[code]

On the first render of the Parent component, everything works fine. But when I navigate to a different Screen from the LoginComponent and then press the **System back button**, the console.log is working, but my actionsheet is not displayed.
What am I missing here?

Also,

[2021-06-09 05:14] ammarahm-ed commented on #87
What does actionSheetRef.current return. also you only need to call one of these :

[code]
Not both

[2021-06-09 05:32] saurav-bhagat commented on #87
Thanks for the quick response.
I was using both just to make it work. I'll remove one.

actionSheetRef.current returns a long object containing all the props/methods available. eg:

![image](https://user-images.githubusercontent.com/21280582/121298767-0d9e3b00-c912-11eb-87db-61133ce23864.png)

Though there is this property: ` "refs": Object {},` which is empty.

[2021-06-10 03:22] ammarahm-ed commented on #87
This looks fine and it should work as expected.

[2021-06-11 00:25] saurav-bhagat commented on #87
I tried a lot but couldn't figure out what is the issue here, this is not working at all, I'll share the code please have a look, console.log( ) works fine, but the action sheet doesn't come up when I press the system back button (Although in the initial render, the sheet comes).

LoginScreen (Parent) - IntialRoute
[code]
InputActionSheet  Component:

[code]

Navigation component:
[code]

[2021-06-11 09:11] mateattilabarna opened #88 "Indicator position"
Hi @ammarahm-ed !

I'm trying to create an action sheet with your package. When i set the height to a higher value, the indicator renders 'x' pixels lower (I think because of the **indicatorTranslateY**):

indicator at the top:
![iphone11_2](https://user-images.githubusercontent.com/19281761/121661227-4837dd00-caa4-11eb-8e33-b49fed8115eb.png)

indicator renders lower:

![iphone11_1](https://user-i

[2021-06-11 09:38] mateattilabarna commented on #80
@ammarahm-ed

Sorry for the late answer, here is a video:

https://user-images.githubusercontent.com/19281761/121666362-723fce00-caa9-11eb-9703-cb31de69596b.mov

Extra info: I currently resolved with hiding totally one of the action sheets, so this is not blocking me.

[2021-06-11 09:48] ammarahm-ed commented on #88
I will look into this. There is probably some miscalculation here causing the indicator to come down sooner than it should.

[2021-06-11 12:52] mateattilabarna commented on #88
@ammarahm-ed  thank you! just ping me here if i can help or i should do this change!

[2021-06-14 13:41] mateattilabarna commented on #88
@ammarahm-ed Sorry for bothering you, maybe can you give an approximate date, when this will be fixed?

[2021-06-16 16:36] ammarahm-ed commented on #86
You can do it only by creating a function that hides all actionsheets using their ref.

[2021-06-16 17:51] natemartins commented on #86
Where will this function be placed: in the first or last action sheet? How would you pass the refs to the function seeing as all the action sheets are not opened from one component. Each action sheet is opened from an already open action sheet.

[2021-06-17 05:59] ammarahm-ed commented on #88
Hey @mateattilabarna I have fixed it on master. Can you test it, it is working fine for me.

[2021-06-22 14:00] mateattilabarna commented on #88
Hi @ammarahm-ed ,

Thanks! Unfortunately I see the same error with the latest master branch:

![Screenshot 2021-06-22 at 15 56 38](https://user-images.githubusercontent.com/19281761/122938145-d0ef2c80-d372-11eb-987c-c9dce39014a9.png)

I checked the node modules folder, I can see the modifications what you have made, e.g.:

![Screenshot 2021-06-22 at 15 58 55](https://user-images.githubusercontent.

[2021-06-22 15:40] ammarahm-ed commented on #88
Hey @mateattilabarna. You were right, the issue was still existing. I fixed it now. Test using master branch.

[2021-06-22 16:29] mateattilabarna commented on #88
Hi @ammarahm-ed ,

I tried out with the latest master, unfortunately still doesn't work for me :(

[2021-06-22 16:46] mateattilabarna commented on #88
@ammarahm-ed

I did it, I can see the latest changes, e.g.:

![Screenshot 2021-06-22 at 18 40 23](https://user-images.githubusercontent.com/19281761/122966625-d441e280-d389-11eb-8a42-7a33467d3108.png)

If I have 1 action sheet, it doesn't work. If I have 2 action sheets, then which i open firstly that's wrong and which i open secondly that's working fine.

[2021-06-22 17:17] ammarahm-ed commented on #88
Hey @mateattilabarna It is working normally for me. I have still made a couple of changes again. Try once more.

If you still face the same issue, set `drawUnderStatusBar` to `false`.

[2021-06-22 18:01] mateattilabarna commented on #88
Hi @ammarahm-ed,

With setting the **drawUnderStatusBar**  to **false** it's working for me.

[2021-06-22 18:07] mateattilabarna commented on #88
@ammarahm-ed

Another topic (I can open another ticket if you want):

inside the ActionSheet i want to use Flatlist/Scrollview. I tried out with ScrollView and it works. The Flatlist unfortunately doesn't scroll :( i followed the documentation. Do you have any idea?

[2021-06-22 18:10] ammarahm-ed commented on #88
This issue will help, https://github.com/ammarahm-ed/react-native-actions-sheet/issues/68

[2021-06-23 07:23] blaze-nitd opened #89 "Drag up operation on actionSheet"
Hi, can we have an initial default height and then drag up to increase the height and drag down to decrease just like it happen in other apps? Not able to find how it can be done here. Can you please help.

Also is there any possibility for a maximum height the actionSheet can take in case we don't want it to take up the whole screen height at maximum?

Thanks in advance :)

[2021-06-23 07:27] ammarahm-ed commented on #89
Use `containerStyle` to give a max height value

Use `initialOffsetFromBottom` to set offset such as 0.6 means 60% of total.

Use `closable` to prevent action sheet from closing and return to initial value.

[2021-06-23 08:17] blaze-nitd commented on #89
0.6 initialOffsetFromBottom worked. But when dragged upward and releasing it it is taking up entire screen height where it should stop at maximumHeight I set. Can you help here :)

[2021-06-23 12:35] blaze-nitd commented on #89
Only height worked :D

[2021-06-23 12:36] #89 closed

[2021-06-23 14:46] mateattilabarna commented on #88
@ammarahm-ed

Thank you!
Fyi: From me  using Flatlist from react-native-gesture-handler works only.

When you plan to release a new library version?

[2021-06-25 10:47] arakovskis opened #90 "[Android] Status bar issue"
Hi @ammarahm-ed

Is there any way to make status bar color same as backdrop color when actionsheet is opened?

Device: Pixel 4 emu

![image](https://user-images.githubusercontent.com/43447421/123413365-5b29d180-d5bb-11eb-93b4-c6a9906adcc0.png)

[2021-06-26 18:36] tomKrueger opened #91 "Running on Web: Getting "Uncaught TypeError: Cannot read property 'style' of undefined""
When I run on iOS the ActionSheet works fine.  Thank you!

When I run on Web, by simply adding import I get the error

index.js:790 Uncaught TypeError: Cannot read property 'style' of undefined
    at Module.../../../../../../../../../../../Projects/TFS/TomKrueger/VaiaDraftbit/src/VaiaDrafbit/node_modules/react-native-actions-sheet/src/index.js (index.js:790)

This is the part of index.js and look

[2021-06-26 18:48] ammarahm-ed commented on #91
Hey can you test by replacing that with PropTypes.object I think? I am also not sure if we need propTypes? We have typescript definitions

[2021-06-26 18:50] ammarahm-ed commented on #90
Maybe import StatusBar from react native and set StatusBar.setTranslucent(true)?

[2021-07-06 12:56] saschagehlich opened #92 "Example App not working on Android (ScrollView inside of ActionSheet)"
react-native@~0.63.4
react-native-actions-sheet@^0.4.9

ActionSheet opens on button tap, but I can't scroll inside the ScrollView - it only drags around the ActionSheet. Works fine on iOS.

[2021-07-12 10:08] mateattilabarna commented on #88
@ammarahm-ed

Hi! When you plan to release the new version of the library?

[2021-07-12 17:30] ctwillie commented on #60
@ammarahm-ed What is the best way to solve this? What @arakovskis suggested?

[2021-07-12 19:26] ammarahm-ed commented on #60
Use master branch and use `keyboardMode` prop. Set it to `position`.

[2021-07-12 19:35] ctwillie commented on #60
@ammarahm-ed Thanks for the reply! Do you have plans for tagging these new changes so we don't have to require by branch name.

[2021-07-12 19:42] ammarahm-ed commented on #60
Hopefully soon. Maybe this week.

[2021-07-13 04:08] ammarahm-ed commented on #88
@mateattilabarna I want to release it soon. Actually I have converted the whole lib code to typescript to facilitate future development. However I am not a typescript expert and I need some help in checking the code and possible `ts-check` errors especially `strictNullChecks`.

[2021-07-13 07:20] sahildeliwala opened #93 "Opening an action sheet from another action sheet is not working on iOS."
Opening action sheet from already opened action sheet is not working on iOS. It works fine on Android.

When you click option to show another action sheet nothing happens on iOS.

[2021-07-13 17:17] ammarahm-ed commented on #93
That's a limitation of ios. If you want to open another action sheet. It should exist inside the parent actionsheet to show on ios.

[2021-07-14 16:42] #93 closed

[2021-07-17 02:29] pelaxa opened #94 "No action sheet if animated is set to false"
if animated is set to false, then only the black background with proper opacity is set, but the action sheet does not display.

[code]

[2021-07-17 02:32] pelaxa opened #95 "action sheet flashes on android"
Seems like no matter what properties I set or not set, the action sheet has a sudden flashy bounce in the android simulator.
on rare occasions it is not seen, but more often than not, it is seen.  I tried setting the height of the content inside, and various other properties like animated and bounciness, but nothing seems to make a difference.

[code]

Am I doing something wrong?

[2021-07-17 05:02] ammarahm-ed commented on #95
Can you share a small video where the issue can be seen so I have a better idea?

Also can you try to install the master branch in your project and use it in app. See if that helps?

[2021-07-17 12:14] pelaxa commented on #95
Here is a screen recording showing how on show, the action sheet flashes and almost seems to bounce in a jittery motion.
I tried the master branch as well, but this is still happening to me.

https://user-images.githubusercontent.com/4706332/126036502-57b3fb87-81f0-481c-ba75-dc19248a6c50.mov

[2021-07-17 12:42] ammarahm-ed commented on #95
I have tested the master branch and the example app. I notice no jittering. Maybe it has something to do with the contents inside the Actionsheet you have added.

If you run the example by cloning master branch, and still see a problem I will try to fix it. But at the moment i can't reproduce this.

[2021-07-22 08:51] mateattilabarna commented on #88
@ammarahm-ed Let me know if I can help you!

Do you have any date for the release? We would like to have the fixes, but would need a fix version.

[2021-07-23 13:19] Sriman97 opened #97 "First action on the ActionSheet isnt working in Android and iOS"
Hi,
I am currently using the ActionSheet to show a few touchable options inside it.
When the ActionSheet is launched, the first action doesn't seem to be working. I tried setting the zIndex as 1, but thats solving the issue only in Android. Is there something I am missing, or is there a better way to do this, could you please help me with it?

To give an idea about the Usage:

There is a parent vi

[2021-07-23 16:47] lewatt23 commented on #95
i have the same problem, @pelaxa. Did you resolve it ?

[2021-07-23 16:50] lewatt23 commented on #94
same problem

[2021-07-24 04:24] ammarahm-ed commented on #97
@Sriman97  Do not use flex.

[2021-07-24 04:25] ammarahm-ed commented on #95
@lewatt23 Can you post your code here along with the styling you are adding to ActionSheet and internal views?

[2021-07-24 05:53] Sriman97 commented on #97
@ammarahm-ed Any reason?

[2021-07-24 07:13] ammarahm-ed commented on #97
You can use flex properties but don't use `flex:1` because dimensions are calculated dynamically by ActionSheet. Don't use `flex:1` on container style and in parent View inside ActionSheet.

[2021-07-24 09:45] Sriman97 commented on #97
I removed all instances of flex: 1, but the issue was still there. Is there something else i can try?

[2021-07-24 10:30] ammarahm-ed commented on #97
Can you run the example app and see if you face a similar problem? Right now I do not have this issue.

[2021-07-24 11:05] pelaxa commented on #95
my apologies.  I was under a deadline so i have to move on.  I created a very basic version just to meet my needs, but this by far is one of he best action sheets I saw available.

[2021-07-24 17:15] Sriman97 commented on #97
I was able to start the example app only on Android. Would need help with iOS as it was continuously failing when i run `yarn ios` even after trying couple of fixes.
But if i remove the flex: 1 for the containerView, it was working fine in Android, but still giving issues in iOS.

[2021-07-24 18:19] ammarahm-ed commented on #97
@Sriman97 You have to run `pod install` in ios folder then run the app.

[2021-07-25 05:13] ammarahm-ed commented on #94
It works fine. Compare your code and styling with example app. do not use `flex:1` etc.

[2021-07-25 05:13] #94 closed

[2021-07-25 17:33] garmoshka-mo opened #98 "Doesn't work properly on iOS simulator"
There is random issues when try to use `react-native-actions-sheet` on iOS simulator

In one project I had TouchableOpacity randomly doesn't work (most often onPress doesn't work, though sometimes it works)

For other project only small top piece of actions-sheet shown, and its main part with all content is not visible and unreachable.

On real devices such issues never happen.

[2021-07-25 18:35] ammarahm-ed commented on #98
The example app works normally on iOS simulator and devices both. Match your styling etc with the example or post your code where you had such issues

[2021-07-26 05:01] Sriman97 commented on #97
I wasnt able to repro the issue on iOS as well for the example app. Let me check a bit more and get back.

[2021-07-26 06:39] Sriman97 commented on #97
@ammarahm-ed the fix that you mentioned about removing flex from the parent view. I was testing on iOS with the software keyboard hidden, due to which it was appearing as if the issue was occurring on iOS. Enabled the software keyboard, and the experience is all good. Thanks for your help :)

[2021-07-26 06:39] #97 closed

[2021-08-01 13:32] ahmad6242 commented on #60
"keyboardMode" its doing nothing for me always the same.

![Screenshot_1627824736](https://user-images.githubusercontent.com/12858657/127772752-297db61e-6009-4d56-b5a9-b9fde075c24b.png)

![Screenshot_1627824666](https://user-images.githubusercontent.com/12858657/127772741-bb74acbb-a953-4315-82e5-2207cd9afb7b.png)

[2021-08-01 13:56] ctwillie commented on #60
Are you pulling in the master branch as he stated above. It worked for me when I did. The entry in your package.json file should look like this.

"react-native-actions-sheet": "https://github.com/ammarahm-ed/react-native-actions-sheet"

These changes may be tagged now, not sure.

[2021-08-03 06:01] ammarahm-ed commented on #60
The keyboardMode prop has been removed. The actionsheet by default shows above the keyboard now.

But the version isn't tagged so just use master branch for now

[2021-08-03 06:01] #60 closed

[2021-08-03 06:54] ahmad6242 commented on #25
Any Update on this!

[2021-08-03 06:57] ahmad6242 commented on #60
I did run the following command the use the master branch
yarn add react-native-actions-sheet#master
is that the right way ?
@ammarahm-ed
@ctwillie

[2021-08-03 07:09] ammarahm-ed commented on #60
The new version is released. Install from npm. ` npm install react-native-actions-sheet@latest`

[2021-08-03 07:32] ahmad6242 commented on #60
Thanx i will try it.

[2021-08-03 07:54] ahmad6242 commented on #60
I installed The new version, Install from npm. npm install react-native-actions-sheet@latest

Its throwing error! Please check.

![image](https://user-images.githubusercontent.com/12858657/127977561-81fba3bd-dd10-4d98-9eb1-62fd1f5d8af6.png)

[2021-08-03 10:43] ahmad6242 opened #99 "How can i use snapToOffset(offset:number) directly if the actionsheet is closed"
snapToOffset(offset:number)

What i want is to open the action sheet to a specific offset, without opening it first to full height and then calling this function.

For now i am doing it like this. But this is not performing very well sometimes it works sometimes it don't
` initialOpenMenu = () => {

        console.log('here1');
        this.refMenuActions.current?.setModalVisible(true);

[2021-08-03 15:29] MrXyfir commented on #25
Coming soon 😆

[2021-08-03 17:39] ammarahm-ed commented on #99
use `initialOffsetFromBottom` prop.

[2021-08-03 17:39] #99 closed

[2021-08-04 06:35] ahmad6242 commented on #99
initialOffsetFromBottom this does not work . When i use this it do something like this

BEFORE

![Screenshot_1628058823](https://user-images.githubusercontent.com/12858657/128133252-0c02a22f-3b6e-4b20-942b-beab762f2c30.png)

AFTER initialOffsetFromBottom={85}

![Screenshot_1628058851](https://user-images.githubusercontent.com/12858657/128133268-6ce6818f-1b91-4a0b-a1c0-9d3fd830f13a.png)

And it alw

[2021-08-04 06:36] ammarahm-ed commented on #99
The value should be between 0 and 1.

[2021-08-04 10:34] ahmad6242 commented on #99
So for different Screen sizes it will open in different heights. It should be specific.
But anyway thanks for the clarification.

[2021-08-05 07:38] Beldaa opened #100 "TypeError when prop 'containerStyle' is undefined"
TypeError: Cannot read property 'backgroundColor' of undefined

[2021-08-05 07:40] Beldaa commented on #100
Fix PR #101

[2021-08-05 07:46] Beldaa commented on #100
Fix PR: #102

[2021-08-06 14:46] GianMantuan commented on #88
I can confirm that the issue still happens, however, if you set `drawUnderStatusBar` to `false` as mentioned by @ammarahm-ed the issue is resolved.

[2021-08-06 14:56] GianMantuan opened #103 "keyboardDismissMode is required"
As shown in the code, it is required to set the property `keyboardDismissMode`, but in the documentation it is said that is not.

How it is in `types.ts`:

[code]

How it should be according to the documentation:
[code]

[2021-08-06 15:06] #100 closed

[2021-08-06 15:06] #95 closed

[2021-08-06 15:06] #98 closed

[2021-08-06 16:58] GianMantuan commented on #103
Fix PR: #104

[2021-08-07 01:31] GianMantuan commented on #103
Fix merged to master

[2021-08-07 01:31] #103 closed

[2021-08-10 05:15] Hridey27 commented on #60
You have not given containerStyle
give :- containerStyle={{backgroundColor:"whatever color"}}

[2021-08-10 05:35] Hridey27 commented on #60
Make a Keyboard listener and change height when keyboard shows and reduce height when keyboard hides

Make use of :-
 Keyboard.addListener("keyboardDidShow", () => setkeyboardOpen(true));
  Keyboard.addListener("keyboardDidHide", () => setkeyboardOpen(false));

[2021-08-10 09:34] ammarahm-ed commented on #60
@ahmad6242 @Hridey27 Fixed the issue. Also the keyboard issue is resolved on the latest version. It works as expected.

[2021-08-11 05:16] ahmad6242 commented on #60
Thanks I will test @ammarahm-ed

[2021-08-11 08:35] projjwalg commented on #92
I am having the same issue. I am using flatlist inside the ActionSheet

[2021-08-12 12:53] checklist opened #106 "Usage example for Typescript - getting an error"
Hello,

I posted this issue on SO regarding the usage with Typescript. Can you please assist?

https://stackoverflow.com/questions/68757797/typescript-createref-for-actionsheet-react-native

[code]

I also added a tag for your project so others can find it easier.

Thanks for the great library!

[2021-08-12 13:53] ammarahm-ed commented on #106
What issue are you facing?

[2021-08-12 14:00] checklist commented on #106
![image](https://user-images.githubusercontent.com/1918168/129210179-4452a9bd-f011-42ea-8801-4833da5e69a0.png)

Type 'RefObject<ActionSheet>' is not assignable to type '(string & MutableRefObject<{ setModalVisible(visible?: boolean | undefined): void; show(): void; hide(): void; handleChildScrollEnd(): void; snapToOffset(offset: number): void; }>) | (RefObject<...> & MutableRefObject<...>) | (((in

[2021-08-12 14:00] checklist commented on #106
![image](https://user-images.githubusercontent.com/1918168/129210290-9a0af3ac-bd31-46fb-87ab-e4e36d1e006e.png)

[2021-08-12 14:01] ammarahm-ed commented on #106
You should use `useRef` not `createRef`

[2021-08-12 14:04] checklist commented on #106
const actionSheetRef = useRef<ActionSheet>()

This gives an error as well:

Type 'RefObject<ActionSheet>' is not assignable to type '(string & MutableRefObject<{ setModalVisible(visible?: boolean | undefined): void; show(): void; hide(): void; handleChildScrollEnd(): void; snapToOffset(offset: number): void; }>) | (RefObject<...> & MutableRefObject<...>) | (((instance: ActionSheet | null) => void)

[2021-08-17 07:47] Sriman97 opened #107 "TouchableOpacity and TouchableWithoutFeedback components not working when using in VoiceOver mode in iOS"
Double tap actions on TouchableOpacity and TouchableWithoutFeedback aren't working when using VoiceOver in iOS. Also, i see that when the ActionSheet is launched. The focus goes to the background first and then to action sheet upon swipe gesture. Is there a way the focus could first be made to come onto the action sheet?

[2021-08-18 01:43] hannanhafeez commented on #106
@checklist a temporary solution is to do it like this:

[code]

and then typecast the ref like:
[code]
It removed the squiggly lines for me at least and I also got type-definition on `actionSheetRef` back.

[2021-08-18 04:46] checklist commented on #106
This seems to have taken the issue away and no errors now. But, I still think there is something wrong with the Typescript definitions in the library and the ActionSheet is not defined properly.

BTW - I am using TS 4.3.5

[2021-08-18 21:24] raquelmsmith opened #108 "Spacing at top after upgrading to 0.5.1"
_Thank you for this amazing package!! I've gotten so much great use out of it._

I just updated to 0.5.1 so that I could use the `keyboardMode="position"` prop. That's working great!

But now all of my action sheets have this odd styling/behavior:

When opening an action sheet for the first time, there is extra space at the top of the sheet (above the gesture handler grey bar thing):

![Simulator

[2021-08-19 02:16] ammarahm-ed commented on #108
I know that is an issue. For now you can set `drawUnderStatusBar prop to false and it will work as expected.

[2021-08-19 02:34] raquelmsmith commented on #108
That does help, but leaves a bunch of extra space at the bottom. Will that extra space remain, so I'm fine to change my implementation, or do you anticipate that the extra space issue will be resolved?

[2021-08-19 02:44] raquelmsmith commented on #108
That works, thanks!

[2021-08-19 02:55] #108 closed

[2021-08-20 09:07] simonas-kralikas opened #109 "Keyboard.removeListener was deprecated in React-Native 0.65"
`Keyboard.removeListener()` was deprecated in React-Native 0.65 in favor of `remove()` applied to the listener return event.

This causes a crash. Could we get a patch?

[2021-08-20 09:28] simonas-kralikas commented on #109
Proposed changes at  #110

[2021-08-23 08:39] akrueger90 opened #112 "Hide as async function"
Hello,

would it be possible to make the hide function async. This way one could execute a function after the acions-sheet was closed.

[2021-08-23 08:55] Sriman97 commented on #107
@ammarahm-ed Any update on this issue. incase the issue is not clear, I could provide some more information. Basically its about gestures not working on TouchableOpacity and TouchableWithoutFeedback on iOS. Was wondering if the issue is similar to this: https://gorhom.github.io/react-native-bottom-sheet/troubleshooting#pressables--touchables-are-not-working-on-android
(Though this talks about Andr

[2021-08-23 20:00] flavioribeirojr opened #113 "Animated node with tag 61 does not exists"
I have an issue redering the action sheet that contains a input. Whenever I focus the input I get this error.

I have the same component being rendered on another screen that don't have the bottom tab bar displayed.

I am using **react-native** and **react-navigation**.

![Screenshot_1629748459](https://user-images.githubusercontent.com/21633230/130511149-5e8f9e40-8efa-4e82-aa45-eeb25860130e.png)

[2021-08-23 20:03] ammarahm-ed commented on #113
What version of actionsheet are you using

[2021-08-23 20:04] ammarahm-ed commented on #112
Why not use the `onClose` prop on ActionSheet?

[2021-08-23 20:05] ammarahm-ed commented on #92
Import FlatList from `react-native-gesture-handler` then follow the guide at the end of readme docs.

[2021-08-23 20:05] #92 closed

[2021-08-23 20:08] ammarahm-ed commented on #107
Could you elaborate more? Maybe a video or an example app would help me understand your problem.

[2021-08-23 21:44] chazzaoui opened #114 "Keyboard.removeListener() deprecated in React native 0.65"
First of all big thanks for creating and maintaining this package!

Question is it possible to change the removeListener() for the remove() method on the event subscription returned by addListener(). Since it will be deprecated and causes a crash on ios and android.

![Screenshot 2021-08-23 at 23 43 48](https://user-images.githubusercontent.com/22476835/130523454-360b493a-04f7-48fb-8648-db9c69c7a0

[2021-08-23 23:26] flavioribeirojr commented on #113
react-native-actions-sheet@0.4.9

Should I upgrade to latest?

[2021-08-24 02:30] ammarahm-ed commented on #113
Yes

[2021-08-24 02:31] ammarahm-ed commented on #114
It's fixed on master

[2021-08-24 06:01] akrueger90 commented on #112
For example I have an Actions Sheet which opens the camera. On iOS the camera is automatically closed because the modal hides after the camera was opened. With timeout it works. But the easiest way would be just to wait for the hide function and then execute the real function.
`onPress={async () => {
                        await actionSheetRef.current?.hide();
                        option.onPre

[2021-08-24 08:55] chazzaoui commented on #114
It seems that the latest merge only reverts the previous fix. It still uses the remove listener function

[2021-08-24 09:06] ammarahm-ed commented on #114
Send a PR fixing the bug.

[2021-08-24 09:20] Sriman97 commented on #107
Actually i was able to figure out the issue. For some reason, when the action sheet top level component doesnt have flex:1 and gestureEnabled is set to true, the gesture actions (accessibility ones) werent working for the touchable components.  (i.e Double tapping the screen to perform 'press' action on the Touchable button wasnt working.

So to unblock myself, i have set the flex property to 1 an

[2021-08-24 10:16] chazzaoui commented on #114
https://github.com/ammarahm-ed/react-native-actions-sheet/pull/115

Should resolve this issue

[2021-08-24 12:34] #114 closed

[2021-08-24 12:47] flavioribeirojr commented on #113
I upgraded but still got the same error

[2021-08-24 15:41] flavioribeirojr commented on #113
Sorry - I just found out that this has nothing to do with react-native-actions-sheet library. Actually it is another component(**react-native-popup-menu**) that was throwing this error.

[2021-08-24 15:41] #113 closed

[2021-08-25 18:47] saschagehlich opened #116 "Touchables not working when content height changes quickly twice"
I have a form inside an action sheet that changes height if an input has an incorrect value (due to an additional error message that's taking some height).

If I type quickly so that the error message is visible for a split second, the touchables inside the action sheet do not work anymore.

If I type slowly (I wait for the height transition to end before continuing typing), the touchables work fi

[2021-08-26 09:13] #116 closed, assigned to nobody

[2021-08-28 22:35] EmreKorpe opened #117 "Double swipe for actionsheet closing not working"
hi thanks for this legendary library, in the example, the scrollview is waiting for the scroll to be full screen after the scroll is completed on the up scroll, this is very nice. Can we make the same process wait for it to scroll again so that it closes when the scroll down is complete?

[2021-08-29 04:45] ammarahm-ed commented on #117
I think that is how it works right now. But depending on how fast you swipe it might take parent scroll and scroll it down instead of the child. However primarily it waits for the child scroll to reach top and then it will scroll the parent.

[2021-08-29 13:37] punndcoder28 commented on #109
Just encountered the same issue. Is there any workaround we can try in the mean time?

[2021-08-29 14:35] ammarahm-ed commented on #109
I will publish a new version with the fix soon

[2021-08-29 15:42] ammarahm-ed commented on #109
Fixed in v0.5.2

[2021-08-29 15:42] #109 closed

[2021-08-29 15:46] ammarahm-ed commented on #112
A normal hide call would take around 300 to 400ms. You can make a wrapper async function yourself and use it as most people do not need an async call.

[2021-08-29 15:46] #112 closed

[2021-08-29 15:46] ammarahm-ed commented on #91
Fixed

[2021-08-29 15:46] #91 closed

[2021-08-29 15:46] #90 closed

[2021-08-30 10:53] RazaShehryar opened #118 "running tsc command reveals a lot of TS errors"
Hi,

Upon running `tsc` command in the terminal, I came across a lot of different errors related to TS. If you want, I can create a PR for it.

Below is the log for all the errors

[code]

[2021-08-30 11:17] ammarahm-ed commented on #118
If you can fix these errors, send a PR. Also i am not getting any errors but maybe my ts config is not correct.

[2021-08-30 11:52] RazaShehryar commented on #118
I created a separate branch for the fixes but it is giving me this

<img width="499" alt="Screenshot 2021-08-30 at 4 51 32 PM" src="https://user-images.githubusercontent.com/42263739/131334890-208361e7-9b90-42d4-8ea4-93d6049e3d97.png">

[2021-08-30 16:35] RobertMetcalfePhorest commented on #118
Any Luck? same issue here

[2021-08-30 16:43] ammarahm-ed commented on #118
You have to fork this repo then make the fixes and send a PR.

[2021-08-30 19:36] RazaShehryar commented on #118
done, here's the link:

https://github.com/ammarahm-ed/react-native-actions-sheet/pull/119

[2021-08-31 17:24] ammarahm-ed commented on #118
Fix is merged on master.

[2021-08-31 17:24] #118 closed

[2021-08-31 17:51] ammarahm-ed commented on #106
Fixed in `v0.5.3`. Use `ActionSheetRefObject` type.

[2021-08-31 17:51] #106 closed

[2021-08-31 17:51] #88 closed

[2021-08-31 17:52] #65 closed

[2021-09-01 07:09] efstathiosntonas commented on #106
@ammarahm-ed still getting the `Type 'RefObject' is not assignable to type '(string & MutableRefObject<{ setModalVisible(visible?: boolean | undefined): void; bla bla` after upgrading to `0.5.3`, not that it matters but I'm using typescript `4.4.2`

[2021-09-01 07:13] efstathiosntonas commented on #114
@ammarahm-ed for some reason, currently master (`0.5.3`) does not have the fix from this [PR](https://github.com/ammarahm-ed/react-native-actions-sheet/pull/115)

[2021-09-01 07:16] ammarahm-ed commented on #114
I will fix it in a bit

[2021-09-01 07:17] efstathiosntonas commented on #114
@ammarahm-ed we need backwards compatibility with rn < 0.65, I can provide a fix if you want

[2021-09-01 07:20] efstathiosntonas commented on #114
@ammarahm-ed  something like:

[code]
const ReactNativeVersion = require('react-native/Libraries/Core/ReactNativeVersion');

const v = parseInt(
      ReactNativeVersion.version.major + ReactNativeVersion.version.minor,
      10
    );

[code]
if (v >= 65) {
      const showSubscription = Keyboard.addListener(showEvent, () =>
        onKeyboardShow()
      );
      const hideSubscription = Keyboar

[2021-09-01 09:22] Mogul123 opened #121 "Getting "_reactNative.Keyboard.removeListener is not a function" Error"
I get the following error: _reactNative.Keyboard.removeListener is not a function"

when navigating back. I assume this might have to do something with using React-Native 0.65?

Everthing works fine, except when I navigate to the previous screen.

`This error is located at:
    in ActionSheet (at postBottomSheet.js:27)
    in RCTView (at View.js:32)
    in View (at postBottomSheet.js:26)
    in Ac

[2021-09-01 13:06] EmreKorpe commented on #117
yes, as you said, if the scrolling is fast, it closes completely without waiting. It would be great if it waits for the second scroll at the default height without considering the scroll speed. If it works as you say, I may have set it up wrong in my project. i will check again

[2021-09-01 17:33] ammarahm-ed commented on #121
Fixed. 0.5.4

[2021-09-01 17:33] #121 closed

[2021-09-02 11:28] ammarahm-ed commented on #106
Use as it is used in the example. Don't use `createRef` in functional components. Use `useRef<ActionSheet>()`.

[2021-09-02 11:37] checklist commented on #106
But that brings me back to the same initial issue:
[code]

This always brings the error on the ref={actionSheetRef} and the problem is not solved :-(

[2021-09-03 07:42] anas-ashraf-viabletree opened #122 "SnapToOffset not working on IOS"
if the initialBottomOffset is set to 0.5 and we use snapToOffset more than 500 it closes and if we give snapToOffset less than 500 it will not do anything
but on android everything is working fine

[2021-09-03 16:56] ammarahm-ed commented on #122
For `snapToOffset` remember that it works in the opposite way. If the height of the component is 500, then 0 means the ActionSheet will show 100%, and 500 means it hide and close.

[2021-09-10 14:50] jw-85 opened #124 "Passing custom parameters to ActionSheet"
I am relatively new(ish) to RN and would like to make the ActionSheet dynamic... FlatList returns a set of results from an API, for each result item there is a button that when tapped passes the item.id and opens up the ActionSheet with a set of options. ActionSheet can then use the received prop to take item specific actions (ie calling out to another API using the item.id etc).

I have used `onP

[2021-09-13 16:24] spaquis opened #125 "Open date picker from actions sheet"
Hi,
I try to open a date picker in modal mode from action sheet but it's overlapped by the action sheet container. Do you have an idea, how i can manage this ? I tried to play with elevation property but without succeed.
This is the concerned datepicker :  https://github.com/henninghall/react-native-date-picker

Thanks in advance for your help.

[2021-09-22 21:12] Anant5555 opened #127 "White Space at the bottom"
Hi, I am getting a white spacing at the bottom, Not able to understand where it is coming from. Can you please help me out with it? Thanks

<ActionSheet containerStyle={{flex: 1}} keyboardShouldPersistTaps={'handled'} gestureEnabled={true} ref={ref} >
  <View style={{
                    height: 200,
                    width: '100%',
                    backgroundColor: '#0075C4'

[2021-09-28 11:06] #107 closed

[2021-10-01 04:22] duonghoangphong commented on #127
I also have the same problem, hope it will be solved soon

[2021-10-01 08:22] Sriman97 commented on #84
@ammarahm-ed could any update on this issue?

[2021-10-02 19:15] ammarahm-ed commented on #127
I will look into it. And don't use flex for containerStyle. The actionsheet resizes itself on content change. You don't need it.

[2021-10-05 06:20] duonghoangphong commented on #127
I removed containerStyle but there is still a space

[2021-10-11 14:45] francoSimeone commented on #127
Any news on this? I am having the same problem.

[2021-10-18 06:38] jimji1005 opened #129 "Actionsheet does not open in iOS after rerender"
Weird issue, ONLY iOS,
see gif
![Simulator Screen Recording - iPhone 12 - 2021-10-17 at 23 31 30](https://user-images.githubusercontent.com/5834998/137680335-0a8ba41d-1fe2-40bc-85e4-7ba6fc50eaaf.gif)

Actionsheet does not display whenever state of component is updated.

Latest RN, latest Action-sheet (v2.0.2)
iOS Simulator 14.4, or iPhone iOS 15
M1 mac,
Xcode 12.5.1

Code used
[code]

[2021-10-18 06:52] jimji1005 commented on #129
might be useful
[code]

[2021-10-19 03:55] jimji1005 commented on #129
@flavioribeirojr oh interesting, the fact that keyboard is supposed to be out/or is out, is affecting the action sheet?

[2021-10-26 01:17] duonghoangphong opened #130 "White space at the bottom"
I upgraded to version 0.5.6 but still white  at the bottom
<ActionSheet ref={ref => this.refTest = ref}>
       <View style={{ backgroundColor: 'red', height: 200 }}></View>
</ActionSheet>

![Simulator Screen Shot - iPhone 11 - 2021-10-26 at 08 07 15](https://user-images.githubusercontent.com/57445189/138793543-0aea8af6-9a97-4528-9f5e-900fbffe5bfb.png)

[2021-11-03 12:45] arelstone opened #131 "Missing export of ActionSheetProps in v. 0.5.6"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-actions-sheet@0.5.6` for the project I'm working on.

In my project I have an `ActionSheetProvider` which makes it easy for us to open an action sheet from everywhere. This works really good for us 💪
However when upgrading to the latest version I've n

[2021-11-09 06:36] jimji1005 commented on #129
sorry for the delay its confirmed fixed on ios

[2021-11-09 06:36] #129 closed

[2021-11-11 07:34] #131 closed

[2021-11-11 07:34] #130 closed

[2021-11-11 12:44] usamadesigner opened #134 "If I open action sheet once and close it I could not open it again frequently ,I basically could not perform any action for next 3 to 4 seconds once I close The Action Sheet"

[2021-11-12 10:19] MyloCarson commented on #134
Using  `setTimeout` solves this issue

const handlePress = () => {
    networkInfoSheetRef.current.hide();
    setTimeout(() => {
      networkSelectSheetRef.current.show();
    }, 500);
  };

[2021-11-13 23:19] Jalson1982 opened #135 "Snap to close distance"
Hello @ammarahm-ed. Want to ask you do you have a plan to add more customization. For example, if you have an action sheet and you open the keyboard and you try to swipe down the sheet it is not possible if you do not swipe to the end. So I was thinking maybe I can help on this if you do not have time or similar that we can define closing distance. For example, it would be good if we can set when

[2021-11-15 11:17] ammarahm-ed commented on #135
Did you try using the `springOffset` prop?

[2021-11-17 12:50] MyloCarson opened #136 "FlatList don't scroll as child of ActionSheet"
https://user-images.githubusercontent.com/12560014/142203604-4300fa78-72f8-4961-83b7-2d730e68aeb1.mp4

[2021-11-17 14:28] ammarahm-ed commented on #136
Did you try the example app? You are doing something incorrectly.

[2021-11-17 14:30] MyloCarson commented on #136
Could you kindly point me to the example? Per the documentation, a ScrollView was used to illustrate the nestedScrollingEnabled feature

[2021-11-17 14:33] ammarahm-ed commented on #136
Go to main project/example/App.js. You can also clone the repo and try running example app.

Also try importing `FlatList` from `react-native-gesture-handler` instead and use that.

[2021-11-17 14:34] MyloCarson commented on #136
Awesome. I'd try that out right away

[2021-11-17 14:38] MyloCarson commented on #136
thanks a lot @ammarahm-ed it works.

[2021-11-17 14:38] #136 closed

[2021-11-18 18:31] joseortiz9 opened #137 "issue action sheet doesn't open after closing another modal that has/hasn't keyboard opened"
### issue
The actionsheet doesnt open when `ref.current?.setModalVisible(true)` is called inside a setTimeout. Also doesnt opens when is tried to open after closing another modal that had the keyboard opened.

The expected behavior are the first 15 seconds where we open a modal, select something and open the action sheet after that. You can see the 18 second where we select something from the moda

[2021-11-21 08:19] THE-EDDY commented on #87
Experiencing the same issue now, any solution to this?

[2021-11-22 11:10] anatooly commented on #137
I have some issue for iOS and use
[code]

[2021-11-22 20:43] joseortiz9 commented on #137
Hey thanks for the recommendation, the problems is that when I put the `ref.current?.setModalVisible(true)` inside the `setTimeout` it never works :( the ref is always null, doesn't it happens to you?

[2021-12-08 11:51] naderalfakesh opened #138 "Padding bottom is overwritten by the libraries style"
[code]
We are setting bottom padding with the value coming from safe area context on, I was able to solve this by wrapping content with a view and passing the padding to it.
But I have one sheet that has a sticky button so it should be without bottom spacing but I cannot overwrite the padding.

Thanks for the great efforts, keep it up.

[2021-12-17 04:02] hblab-huongdv commented on #137
@joseortiz9 Do you have a solution for fixing it? I have same issue

[2021-12-21 10:59] aliraza96 opened #140 "Crash when trying to close the action sheet."
Whenever I try to hide the action sheet, this happens.
![Simulator Screen Shot - iPhone 13 - 2021-12-21 at 15 57 38](https://user-images.githubusercontent.com/59387704/146919164-d4718771-4673-4a77-a187-c8736a035c39.png)
<img width="564" alt="Screenshot 2021-12-21 at 3 57 49 PM" src="https://user-images.githubusercontent.com/59387704/146919181-8a3547b0-1bce-4ee0-af55-e8e8de97820a.png">

[2021-12-21 11:00] aliraza96 commented on #140
The Detailed Code is given Below
`<ActionSheet ref={petOptionsActionSheet} bounceOnOpen={true}>
        <View
          style={{
            flexDirection: 'column',
            margin: 20,
            marginBottom: 30,
          }}>
          <ClickableText
            onPress={() => {
              console.log('Add Media');
              photoOrVideoActionSheet.current.setModalVisible();

[2022-01-03 15:11] andreirat opened #141 "Property 'removeListener' does not exist on type 'KeyboardStatic'."
When if I run ` tsc --noEmit --skipLibCheck && eslint . --ext .js,.jsx,.ts,.tsx` , it will throw an error like in the image attached.

I have `react-native: 0.66.4`

![Screenshot 2022-01-03 at 17 08 57](https://user-images.githubusercontent.com/17424445/147946844-13062cbb-fe01-4cfb-adcd-f06761137125.png)

[2022-01-04 15:29] andrea-martinez opened #142 "Nested scrolling not working"
I have a FlatList with fixed height inside the Actionsheet and nested scrolling seems not to work even after adding the necessary code from the documentation:

`nestedScrollEnabled={true}`
`onScrollEndDrag={() => actionSheetRef.current?.handleChildScrollEnd()}`
`onScrollAnimationEnd={() => actionSheetRef.current?.handleChildScrollEnd()}`
`onMomentumScrollEnd={() => actionSheetRef.current?.handleCh

[2022-01-05 04:46] ammarahm-ed commented on #142
@andrea-martinez try to import FlatList from `react-native-gesture-handler` and use it instead.

[2022-01-05 09:35] andrea-martinez commented on #142
@ammarahm-ed thanks a lot, it works. I think this should be mentioned in the documentation.

[2022-01-05 11:07] #142 closed

[2022-01-09 10:16] ammarahm-ed commented on #137
Try this:

[code]

[2022-01-11 17:35] ammarahm-ed commented on #141
Fixed this.

[2022-01-11 17:35] #141 closed

[2022-01-11 17:36] #134 closed

[2022-01-11 17:37] #135 closed

[2022-01-21 14:20] swatiredhu17 opened #145 "Release without jcenter"
### Dependancy removal request

[code]

**Platform:** Android

[2022-01-21 20:15] ammarahm-ed commented on #145
@swatiredhu17 The library does not contain any platform specific code. So you should not be having any problems.

[2022-01-21 20:17] ammarahm-ed commented on #25
@ahmad6242 @MrXyfir I was able to implement it partially on Android. Did not work on iOS. The only way I see of doing this is adding a native dependancy which can handle pointer events correctly.

[2022-01-21 20:21] ammarahm-ed opened #146 "Release v0.6.0"
**Global Sheet Manager**
A sheet manager can help in opening/closing of sheets easily without writing and creating `refs` all over the app. The benefits:
1. Open any sheet from anywhere in the app.
2. Close all opened sheets from anywhere in the app
3. No need to create `ref`object anymore in various components.

**Indicator Style Prop**
1. Modify the indicator to match platfrom sheet styles.

[2022-01-24 05:06] swatiredhu17 commented on #145
@ammarahm-ed Oops! I added issue to wrong package.

Closing now.
Appreciate your quick response!!

[2022-01-24 05:06] #145 closed

[2022-01-29 13:53] #137 closed

[2022-01-29 18:21] #146 closed

[2022-01-31 11:58] umer-viabletree commented on #122
i did as you said but can't not find any solution

[2022-02-01 23:55] johnny-mcfadden-dailypay opened #148 "[Question] Increase height via gesture"
Is there a way to allow the user the drag the sheet up (increase in height)? It resizes perfectly and allows me to slide in down with a gesture, but would love to be able to also increase the height via gesture (if possible?)

[2022-02-02 02:30] ammarahm-ed commented on #148
Use `initialOffsetFromBottom`

[2022-02-02 09:59] johnny-mcfadden-dailypay commented on #148
Thanks @ammarahm-ed will give this a go! Love the API and smoothness of everything so far, super impressed!

[2022-02-03 13:42] ste7en opened #149 "[Best Practices] Share an ActionSheet across the entire app"
With the SheetManager from v0.6.0 now it is possible to easily show an ActionSheet from anywhere in the app. My question is, what is the best approach to implement an ActionSheet used in multiple parts of my app? I'm using React Navigation and the application is composed of multiple and nested navigators with screens.

Would it be a good practice to place all the shared ActionSheets in the root co

[2022-02-03 14:16] ammarahm-ed commented on #149
You have thought about it right already. Since you want to be able to open sheets from anywhere in the app. The best way would be to render them at Root level of your app. You can make a `SheetsGroup` component which can hold all the sheets and be added at app level.

[code]
One thing to remember when rendering ActionSheet at root level is that on iOS you cannot open an ActionSheet if another Acti

[2022-02-03 14:43] ste7en commented on #149
Everything clear, thanks man!

[2022-02-03 14:43] #149 closed

[2022-02-03 16:59] theneekz commented on #138
Same problem, can't affect paddingBottom in containerStyle

[2022-02-03 17:02] ammarahm-ed commented on #138
@theneekz Its not possible with the current mechanism of how the sheet works. Paddings are locked to a specific number. You can add padding to an inner view or render a <View/> at bottom of your sheet and give it an height.

[2022-02-03 17:05] theneekz commented on #138
That's what I've come to realize...thanks for clarifying. I would like to have the ActionSheet rise up from a different height ideally, which I also don't think is possible. This was one route I tried to get around that with a few other styling changes but I don't think it's possible to create the effect.

[2022-02-03 17:12] theneekz commented on #138
As close as I can get it right now:
[code]
![Screen Shot 2022-02-03 at 11 11 40 AM](https://user-images.githubusercontent.com/56894041/152393278-a72a50dd-d415-4bb6-be25-7ef570bcd305.png)

[2022-02-03 17:52] ammarahm-ed commented on #138
@theneekz I can see what you are trying to do here. The Sheet opens up in a Modal. So if the user cannot interact with the buttons in bottom tab, I think it will end up being a confusing UX. One way around that would be to render the tab at the same position inside the sheet. So when the Sheet opens up, the bottom tabs are in there and user can tap on them to close the sheet and navigate to the re

[2022-02-03 17:56] theneekz commented on #138
Thanks, that makes sense. I think rerendering the bottom tabs inside the modal is the only solution for using this library. There's no way to render this inside a View container right rather than a modal right?

[2022-02-03 18:02] ammarahm-ed commented on #138
@theneekz Right not it won't be possible to do it.

[2022-02-05 03:27] derick-bai opened #150 "`keyboardShouldPersistTaps` not working as expected"
In my case, I have text input and buttons on the action sheet. And I'd like to be able to tap the button while keeping the keyboard visible.

Below is how I use the action sheet (simplified by removing styles and irrelevant props/content)
[code]

**Expected result**
After entering something in the input text, being able to press the button without dismissing the keyboard.

**Actual result**
The fi

[2022-02-05 04:23] ammarahm-ed commented on #150
Use `keyboardDismissMode` prop

[2022-02-07 20:13] derick-bai commented on #150
Found the issue. The action sheet in my case is wrapped as a reusable component. And in the place it is used, its direct parent is a scroll view. By setting `keyboardShouldPersistTaps` to "always" on the parent scroll view I got the desired behavior.

Thanks for the response anyway.

[2022-02-07 20:13] #150 closed

[2022-02-15 16:52] AdamLee321 opened #151 "No member named 'cancelButtonTintColor' in 'JS::NativeActionSheetManager::SpecShowActionSheetWithOptionsOptions'"
<img width="740" alt="Screenshot 2022-02-15 at 16 44 59" src="https://user-images.githubusercontent.com/22890658/154108302-7bfb1fc7-b2b4-4cd1-87f6-8ca205e61318.png">

This is happening when I try to run my app after installing this library. I used this library on a previous recent project and had no issues. I tried installing the latest version and using 0.5.4 which is what version I used on my la

[2022-02-15 17:22] AdamLee321 commented on #151
I haven't imported the library into my project yet I just simply installed it.

[code]

Then the error in the above comment is thrown in xcode.

[2022-02-15 17:28] #151 closed

[2022-02-16 11:57] sheggietyn opened #152 "Not Scrolling when using flatlist"
the action sheet works perfectly okay but I'm having one big problem.. i'n unable to scroll through the flat list item

I have tried this method given in the documentation , but it still didn't work

<ScrollView
        nestedScrollEnabled={true}
        onMomentumScrollEnd={() =>
          actionSheetRef.current?.handleChildScrollEnd()
        }
      />

[2022-02-16 12:42] ammarahm-ed commented on #152
@sheggietyn import `FlatList` from react-native-gesture-handler and use it. It will work.

[2022-02-16 19:17] ammarahm-ed commented on #152
@sheggietyn add some padding or a footer on FlatList. Also remove fixed height. The ActionSheet will automatically adjust itself as items in FlatList increase.

[2022-02-17 22:09] AChesarone opened #153 "`onEndReached` not called consistently for nested `FlatList`"
When using a `FlatList` in the `ActionSheet`, the `onEndReached` function is not consistently called when reaching the end of the `FlatList` content. Is there any specific configuration that needs to be done in order for this to work?

Note that this worked previously, but stoped working after updating RN to 0.66.4. Current `react-native-actions-sheet` version is 0.6.0. Also importing `FlatList` f

[2022-02-19 14:57] sheggietyn commented on #152
okay thanks.. i removed the fixed height and it worked

[2022-02-24 08:02] umer-viabletree commented on #142
working on ios fine but not in android .

[2022-02-25 18:55] ammarahm-ed commented on #142
@umer-viabletree  You have to set `nestedScrollingEnabled` prop on android to get it to work on FlatList.

[2022-03-10 14:08] NandoMB commented on #49
This problem is happening with me...

I was writing a list of <Text> with <Switch> to define who should receive a message. I did it, but I don't like the visual of it. Too much fields, so, I decided to use this ActionSheet to make things better.

The problem is, everytime when I select one of the Switchers, the ActionSheet closes. The state is updated, but the AS closes.

If I paste the code outsi

[2022-03-11 08:18] Nitekurs opened #155 "onPositionChanged onReachedTop:boolean not working properly"
Hi I want if bottom sheet cover full screen that time I want hide show some content, so that i am using onPositionChanged  but this event not work.

[2022-03-12 18:33] ahmedsayedabdelsalam commented on #25
anyone found a solution?

[2022-03-14 09:14] zzeerak commented on #153
+1. facing the same issue.
My onEndReached is never called. What could be the issue?

[2022-03-16 10:12] rcidt commented on #45
@niteshkumarniranjan how did you fix it?

[2022-03-23 04:05] jake-carpenter commented on #142
Nasty little detail I didn't know about. That fixed it not working on Android for me.

[2022-03-29 06:33] Nitekurs opened #156 "onPositionChanged(onReachedTop:boolean)"
How to implement onPositionChanged(onReachedTop:boolean) specially if drag position reached on top ?

[2022-04-11 03:22] elitedev0403 opened #163 "Scrolling doesn't work when using FlatList or ScrollView"
I need to show list using FlatList or ScrollView inside Action sheet but it doesn't work now.
Here's my code below:
<View style={{flex: 1}}>
  <ActionSheet
       containerStyle={{ margin: -10, }}
       indicatorStyle={{ margin: 0, }}
       id={'chat_sheet'}
       ref={chatRef}
       delayActionSheetDrawTime={0}
       statusBarTranslucent
       bounceOnOpen={true}
       drawUnderStatusBar={

[2022-04-15 08:07] fukemy commented on #149
any details code example, can i return sheet from component then add to SHeetGroup? Thanks

[2022-04-15 18:40] bokovski commented on #163
same problem

[2022-04-19 07:16] kumar-aakash86 opened #164 "Property 'children' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<ActionSheet> & Pick<Readonly<Props>"
I am trying to use this library to add actionsheet in my project.
But when I am trying to add it its children its showing error & not accepting children.
<img width="793" alt="Screenshot 2022-04-19 at 12 11 15 PM" src="https://user-images.githubusercontent.com/8749247/163946963-583112b5-6eec-4734-95c4-87e569d21133.png">

I tried checking the index.d.ts file & it don't contain any definition for ch

[2022-04-20 16:05] francesco-clementi-92 commented on #164
Same issue

[2022-04-24 13:10] justinjoyn commented on #150
For me there is no ScrollView wrapping the content or the action sheet. I'm still facing this issue.
@ammarahm-ed  What do you mean by "Use keyboardDismissMode prop"? I tried all possible combinations without any luck.

[2022-04-27 10:16] lc-superagent commented on #87
Faced the same issue.
To reuse component in different screens `const actionSheetRef = createRef();` should be inside component definition - in this case inside `InputActionSheet`.

[2022-04-28 12:51] johnny-mcfadden-dailypay commented on #80
Looks like this issue can be resolved @ammarahm-ed 🎉

[2022-04-28 12:54] johnny-mcfadden-dailypay commented on #79
I'm not sure this is an issue either tbh, this is a jest testing question and not an issue.

[2022-04-28 13:20] #163 closed

[2022-04-28 13:21] ammarahm-ed commented on #164
Fixed. Thanks @francesco-clementi-92

[2022-04-28 13:21] #164 closed

[2022-04-28 13:22] ammarahm-ed commented on #86
This is not possible with `SheetManager`.

[2022-04-28 13:22] #86 closed

[2022-04-28 13:23] #148 closed

[2022-05-09 12:35] AlexTaran opened #168 "Action sheet opens only once on android if "animated" set to false"
Steps to reproduce:

1) Init an empty react-native app
2) npm install react-native-actions-sheet
3) Put the following code to App.tsx :

[code]

4) Press on text to open action sheet, then press anywhere to close it.
Then press on the text again - Nothing shown, but the screen became just darker. Press on the screen again and the darkness disappears. Then you can infinitely try to open ActionSheet

[2022-05-09 14:03] rnglnd opened #169 "Using gestureEnabled closure the sheet bounces instead of closing gracefully"
Have observed when dragging sheets closed the sheet bounces instead of closing as it does by hiding.

Versions:
react-native: 0.64.3
react-native-actions-sheet: 0.6.1

[2022-05-11 10:34] thisispranavvasudev commented on #42
Still this issue is existing..
"react-native-actions-sheet": "0.6.1",

[2022-05-23 20:08] mrkp commented on #25
Would love support for this solution

[2022-06-01 11:02] johnny-mcfadden-dailypay commented on #138
@[mydesweb](https://github.com/mydesweb) also facing the same issue. Did you manage to find a fix?
Perhaps @ammarahm-ed  can save the day 🙏 🙏

<img width="449" alt="Screenshot 2022-06-01 at 12 01 14" src="https://user-images.githubusercontent.com/93137292/171389701-92e1f4da-75a2-4269-a761-794555c98083.png">

[2022-06-08 16:53] DXXR-DaniloT commented on #169
I have the same issue, when I activated gestures, I also had to add the prop "initialOffsetFromBottom" to even be able to close from dragging, the sheet, otherwise it would just bounce back and stay open. After adding that prop, when I drag it down, it bounces back up, and then animates going down from the top again. Did you ever find a solution?

[2022-06-08 17:51] ammarahm-ed commented on #169
@DXXR-DaniloT Post your implementation code here.

[2022-06-08 18:17] DXXR-DaniloT commented on #169
@ammarahm-ed The issue reproduces with a very simple implementation, in my screen component I render action sheet like this:

[code]
let me know if you need anything else.

I am also using the versions:
react-native: 0.64.2
react-native-actions-sheet: 0.6.1

If initialOffsetFromBottom is not set, the modal will react to the gesture but never close due to the gesture, only closes by touching the ba

[2022-06-08 18:26] ammarahm-ed commented on #169
Is this on Android or iOS or same on both

[2022-06-08 18:29] ammarahm-ed commented on #169
Also try setting the prop `springOffset=20` and see if that helps.

Secondly it seems you understood the `initialOffsetFromBottom` prop incorrectly. It's used to show the sheet partially and accepts values from 0-1. For example, a value of 0.4 would mean that 40% of the sheet will show initially.

[2022-06-08 18:48] DXXR-DaniloT commented on #169
I tried setting springOffset, but it didn't have any change on that behavior. I recorded it so it's easier to show what is happening, recorded on an iphone 12 simulator:

https://user-images.githubusercontent.com/86978953/172693109-668cecdd-abe6-4052-9731-34569ff3c6ea.mp4

I am aware of what the initial offset should be doing, but it also has the side effect of fixing the gesture to close the shee

[2022-06-10 11:43] noumantahir opened #172 "Text selection of TextInput inside ActionsSheet not working on Android"
I am using TextInput inside react-native-actions-sheet, apparently when I try to select text the selectors do not work. it does not also show selection menu for copy, paste, cut etc. The text input works fine when it is rendered outside of actions sheet

Tried API level 30 and 31

**Sample Code**
[code]

**Demo Video**

https://user-images.githubusercontent.com/6298342/173057480-a74b6bfd-552b-479f

[2022-06-12 14:39] Daniyaalbeg commented on #169
Can confirm I am experiencing something similar. Upon swiping down on the sheet, it animates back up and then closes.

[2022-06-15 05:32] arham-anees opened #173 "multiple action sheets opens"
I am showing `Flatlist` and tapping on each `item` shows detail on action sheet, the problem is that when I tap on `Flatlist` item, 2 or 3 action sheets open on android, it is working fine with iOS.
here is my code for item
[code]

debugging same in android studio. I get some logcat when opening the sheet. I am not a full time mobile developer that is why I may not get the error correctly but I ca

[2022-06-15 18:45] ammarahm-ed commented on #173
Move the sheet out of your FlatList items and render it at one place in the App. Then open it so it will open one sheet at a time. You are facing problem because you have added the sheet to every component but you are using same id to open it with SheetManager. You can also make the Sheet id unique based on component. For example "my_sheet_" + item.id etc and then open it with same id using SheetM

[2022-06-16 03:09] arham-anees commented on #173
my folder structure is something like
[code]
looking at your comment, I have already placed action sheets at one place outside `Flatlist`. and also, it work fine with iOS, the problem is only on android platform

[2022-06-26 08:35] ammarahm-ed commented on #172
I just tested in the example app and it is working normally. Maybe it has to do something with your react-native version since it's older. Can you try the example app on the same device?

[2022-06-26 08:43] ammarahm-ed commented on #169
@Daniyaalbeg @DXXR-DaniloT Can you try to reproduce this behavior in the example app? I have tried but I can't reproduce this issue. The sheet closes normally with gestures.

[2022-06-26 08:53] ammarahm-ed commented on #169
What I have noticed is that it happens when the Sheet is of less height. And I was able to fix it by setting `springOffset` to `1`.

[2022-06-27 03:35] jbagaresgaray commented on #25
Coming soon? When ? :D

[2022-06-30 04:34] focux opened #174 "Question regarding SheetProvider"
Hey 👋 , sorry for opening an issue to ask these questions—didn't know where to do it. I see that there's a new way of managing sheets using the provider and I have a few questions to see if I should migrate my project to that.

- Is it more performant to use the SheetProvider and register the sheet than just calling the SheetManager like before? I ask this because now you don't have to render the

[2022-06-30 14:54] ammarahm-ed commented on #174
Hey @focux

`SheetProvider` was added to make developer experience simple, avoid boilerplate code in the app and any confusions related how and where to put the Sheet especially when opening from FlatList items. Since each Sheet will be rendered only once the app at the top level. It's more accessible + saves memory. The performance of opening the Sheets will be similar (a bit improved by not usin

[2022-06-30 17:39] focux commented on #174
Awesome, thank you for answering my questions and for all the work you put into this library.

[2022-06-30 17:39] #174 closed

[2022-07-01 16:16] johnbonds commented on #45
@rcidt Make try importing TouchableOpacity from 'react-native' rather than from "react-native-gesture-handler"

[2022-07-02 05:36] ammarahm-ed commented on #106
@johnbonds

[code]
should work.

[2022-07-04 18:13] ammarahm-ed commented on #86
@mirzahayat If you want to render multiple Sheets in iOS. You must render the child sheet inside parent.

[code]

[2022-07-06 21:52] focux opened #176 "Displaying sheets inside modal with same id"
Hey!

I'm using a `SheetProvider` to render some bottom sheets inside a modal, if I keep the same sheet id as the one registered on the top-level `SheetProvider`, it works, but once you close the modal, the screen freeze, and I'm pretty sure that its because it tries to open a sheet on the background as well because it shares the same name than the one registered on the top provider.
However, if I

[2022-07-07 20:44] gremlin529 opened #177 "Returning values from a sheet that was opened"
Relatively new to RN so I'm sorry if this is something that should be obvious to one skilled in the arts, because it's definitely not to me. How would I go about returning something to the code which called the show on the Actions Sheet, Let's say I was using it to replace a drop down in a desktop app, and allow the person to select an item. I've been trying to declare the sheet as an inline funct

[2022-07-09 20:29] retr0-spection commented on #153
Setting this prop within ActionSheet `containerStyle={position:'absolute', bottom:0}`  worked for me.

[2022-07-11 12:48] kkovax25 opened #178 "Allow somehow app level components to bypass the Actionsheet"
We have an app level state components like notifications etc. Currently the only way to show any other component on the top of the actionsheet is the ExtraOverlay component. Is there by any chance an other way to bypass that zIndex 9999 i can see in the source code and display various items on top of the actionsheet like that? Would be great thanks

[2022-07-11 21:27] focux opened #179 "Stale props due to wrapping component with SheetProvider"
I'm using a nested sheet provider inside a modal, wrapping all the contents of my modal with the provider but the `SheetProvider` component is memoized using `React.memo` as you can see below, so when any of my components that are under the `SheetProvider` get updated props, it doesn't update the value and keep the stale props values.

https://github.com/ammarahm-ed/react-native-actions-sheet/blob

[2022-07-15 12:05] vladyslavNiemtsev commented on #172
The same for me, but just for Text components

RN version: 0.66
action sheet version: 0.6.1

[2022-07-17 07:10] smit-1999 commented on #148
@johnny-mcfadden-dailypay @ammarahm-ed  How do we create an ActionSheet of fixed height?
So I want my ActionSheet to be of a fixed height eg:400. I specified that in the containerStyle property. In my ActionSheet if I have 3 options which are taking a height of 200, then the sheet takes a height of 200 rather than 400. I want the 3 options to also be shown with a height of 400.I tried using initia

[2022-07-19 09:37] fukemy opened #181 "[BUGGGG]white screen after wrap app by SheetProvider"
plz help, after wrap my app inside SheetProvider i got white screen
![Screen Shot 2022-07-19 at 16 36 18](https://user-images.githubusercontent.com/8202437/179718992-78e13faa-edf6-429d-99d2-7e69a9ee1b59.png)

![Screen Shot 2022-07-19 at 16 36 29](https://user-images.githubusercontent.com/8202437/179719039-50291890-e3cd-409b-b777-b774cdae4fe7.png)
![Screen Shot 2022-07-19 at 16 36 46](https://user-

[2022-07-20 03:44] fukemy commented on #181
@ammarahm-ed

[2022-07-20 04:47] fukemy commented on #181
tested with Example, still white. screen
![Screen Shot 2022-07-20 at 11 47 18](https://user-images.githubusercontent.com/8202437/179899156-465a1ab3-ef7b-49e7-a1bf-2580cd157fbd.png)

[2022-07-20 04:58] fukemy commented on #181
plz help

[2022-07-20 05:08] fukemy commented on #181
![Screen Shot 2022-07-20 at 12 08 19](https://user-images.githubusercontent.com/8202437/179901453-7fe4a5da-290f-438b-a0d1-a6ee58efd0c6.png)

[2022-07-20 05:10] fukemy commented on #181
![Screen Shot 2022-07-20 at 12 08 55](https://user-images.githubusercontent.com/8202437/179901528-1a36a552-26a7-45ca-adee-ba785b4a3617.png)

[2022-07-29 14:02] #179 closed

[2022-08-09 14:07] Nziranziza commented on #176
Having similar issue

[2022-08-10 10:38] Nziranziza commented on #93
@ammarahm-ed does this apply to  react native modal?

[2022-08-11 08:56] fukemy commented on #181
DEAD lib

[2022-08-11 14:21] ammarahm-ed commented on #93
Yes.

[2022-08-11 14:21] ammarahm-ed commented on #93
Yes

[2022-08-11 14:23] ammarahm-ed commented on #181
@fukemy have to tried to install the master branch directly. It should work normally

[2022-08-12 12:29] Insane34 commented on #25
And soo, solution founded?)) Maybe anyone known how to solve this task with another packages?

[2022-08-12 15:18] MrXyfir commented on #25
@Insane34 you should just build it custom. Make the bottom sheet an absolutely positioned view over the rest of your content. You'll need to wire up the gesture handler and do any animations yourself, but it's possible.

[2022-08-12 18:40] ammarahm-ed commented on #25
It's possible obviously. Just not possible with the Current `ScrollView` implementation of the Sheet which does not work with `pointerEvents` properly but normal Views do.

`ScrollView` is great because it is fully native and the Animations/Gestures are very performant compared to something implemented in JS using `Animated.View`.

Another choice is to use Reanimated but this library was build to

[2022-08-14 10:54] ammarahm-ed commented on #25
Update: I have decided to ActionSheet. Background interaction support will be added in v0.8.0. 🚀

[2022-08-14 19:34] ammarahm-ed commented on #25
Added. Will be released in v0.8.0 🚀

[2022-08-14 19:34] #25 closed

[2022-08-17 12:22] SikoraKam opened #182 "Screen not responsive"
Screen isn't responsive after closing action sheet on android. It takes around 3 seconds until user can make any action

[2022-08-17 13:06] ammarahm-ed commented on #182
@SikoraKam Maybe you are doing something that is blocking the Javascript thread. Try opening a blank actionsheet, it should work normally. Then debug which function call/native module is causing the issue.

[2022-08-20 17:21] HyopeR commented on #138
I have the same problem on Ios and Android platforms. I am sharing 2 screenshots and code blocks to elaborate on the subject.

**Code:**
[code]

**Screenshots:**
<table role="table">
<thead>
<tr>
<th>Android</th>
<th>Ios</th>
</tr>
</thead>
<tbody>
<tr>
<td><a target="_blank" href="https://user-images.githubusercontent.com/36919703/185758513-33f4d6ba-4aa3-4b22-8730-733529888f99.png"><img src="http

[2022-08-20 18:01] HyopeR commented on #138
I think I found the problem. There is a problem with the following part of the source code.
At: [https://github.com/ammarahm-ed/react-native-actions-sheet/blob/master/src/index.tsx](https://github.com/ammarahm-ed/react-native-actions-sheet/blob/master/src/index.tsx)

[code]

This is what this part looks like when it comes out of the package.
**Look at the bottom value.**
[code]

There is a problem

[2022-08-20 19:34] ammarahm-ed commented on #138
@HyopeR The master branch has the unreleased version of the library. You must be using the older version. A new version will be out soon which fixes this. I will investigate this and see if this padding at bottom could be avoided completely.

[2022-08-20 19:36] ammarahm-ed commented on #138
You can try installing the `vnext` branch but beware it has many breaking changes so its best to wait until i release v0.8.0

[2022-08-21 06:30] ammarahm-ed commented on #138
This is fixed in v0.8.0. Will release today.

[2022-08-21 06:30] #138 closed

[2022-08-21 06:32] ammarahm-ed commented on #117
Scrolling behaviour has completely changed in v0.8.0. Now user must lift the finger once to close the sheet once the scrollview reaches top or swipe from  outside the ScrollView to close the Sheet.

[2022-08-21 06:32] #117 closed

[2022-08-21 06:32] ammarahm-ed commented on #153
Fixed in v0.8.0. New version coming soon.

[2022-08-21 06:32] #153 closed

[2022-08-21 06:32] ammarahm-ed commented on #80
Fixed.

[2022-08-21 06:32] #80 closed

[2022-08-21 06:33] ammarahm-ed commented on #79
This is also resolved in v0.8.0

[2022-08-21 06:33] #79 closed

[2022-08-21 06:33] ammarahm-ed commented on #76
v0.8.0 gives several test ids to address this in e2e tests.

[2022-08-21 06:33] #76 closed

[2022-08-21 06:33] #140 closed

[2022-08-21 06:34] ammarahm-ed commented on #168
This is fixed in v0.8.0

[2022-08-21 06:34] #168 closed

[2022-08-21 06:35] ammarahm-ed commented on #155
Fixed in v0.8.0 releasing soon.

[2022-08-21 06:35] #155 closed

[2022-08-21 06:36] ammarahm-ed commented on #87
This is fixed in v0.8.0

[2022-08-21 06:36] #87 closed

[2022-08-21 06:36] ammarahm-ed commented on #178
v0.8.0 provides a zIndex prop. You can use it with nonModal based ActionSheets to do what you want.

[2022-08-21 06:36] #178 closed

[2022-08-21 06:38] ammarahm-ed commented on #177
Fixed in v0.8.0

[2022-08-21 06:38] #177 closed

[2022-08-21 06:38] ammarahm-ed commented on #181
Fixed in v0.8.0

[2022-08-21 06:38] #181 closed

[2022-08-21 06:40] ammarahm-ed commented on #169
Fixed in v0.8.0

[2022-08-21 06:40] #169 closed

[2022-08-21 06:41] ammarahm-ed commented on #173
Fixed in v0.8.0

[2022-08-21 06:41] #173 closed

[2022-08-21 06:42] ammarahm-ed commented on #156
This is added in v0.8.0

[2022-08-21 06:42] #156 closed

[2022-08-21 07:06] ammarahm-ed commented on #172
Fixed in v0.8.0

[2022-08-21 07:06] #172 closed

[2022-08-21 08:56] ammarahm-ed commented on #176
v0.8.0 makes it possible to use the same id for the sheet in multiple contexts. However when opening the Sheet with Sheet Manager you still need to provide the context in which you need to present the Sheet.

[2022-08-21 12:28] #176 closed

[2022-08-22 02:58] focux opened #184 "Overlay is not taking full screen"
Hey! I just updated to version `0.8.0` and I love it! Well done man, you did a really good job there. However, after upgrading, for some reason, the overlay is not taking all the screen height (see attached screenshot). I'm using a global sheet provider which is rendered at the top of the component tree. I also tested using a local `SheetProvider` and still doesn't work.

<details>
<summary>Screen

[2022-08-22 03:14] ammarahm-ed commented on #184
I will fix this asap.

[2022-08-22 03:18] focux commented on #184
Awesome man! Some heads up, just tested on Android and it's happening as well, seems related to the status bar/safe area because on Android the only part that it doesn't cover is the status bar and iOS as well.

[2022-08-22 03:26] ammarahm-ed commented on #184
@focus just fixed it. it was a slight miscalculation.

[2022-08-22 03:27] #184 closed

[2022-08-22 03:29] ammarahm-ed commented on #184
Try v0.8.1. i tested on ios, android & web. Looks good.

[2022-08-22 03:54] focux commented on #184
Just tested it and it's working. Thank you so much!

[2022-08-22 11:42] tibbe opened #185 "Using together with SafeAreaView?"
In noticed by default that the UI overlaps parts of the system UI on the bottom of the screen (the horizontal "divider" on iOS) I tried to include a `SafeAreaView` from react-native-safe-area-context like below but it had no effect. What's the right way to avoid the sheet being overlapped by any "indentations" at the bottom of the screen?

[code]

[2022-08-22 13:08] ammarahm-ed commented on #185
@tibbe

[code]
Then add some bottom padding in `containerStyle` prop

[2022-08-22 17:44] Savvy opened #186 "Touchables aren't working"
To be specific I am using TouchableNativeFeedback from react-native. When gestureEnabled is set to true, touchables no longer work, however with them disabled, the action sheet handle disables.

[code]

[2022-08-22 22:22] ammarahm-ed commented on #186
Does `TouchableOpacity` work?

[2022-08-23 03:08] bobharley opened #187 "hideAll does not hide registered sheets"
`hideAll` does not hide registered sheets because the ids have a `:global` suffix

I was able to make it work by applying this patch

[code]

[2022-08-23 05:16] tibbe commented on #185
Worked great. Thanks. Feel free to close this bug.

P.S. I guess this will be a common first problem for new users to solve so perhaps worth documenting.

[2022-08-23 05:42] ammarahm-ed commented on #185
@tibbe I agree. I will add this to docs or maybe support it somehow Internally 😌

[2022-08-23 05:43] #185 closed

[2022-08-23 05:44] ammarahm-ed commented on #187
@bobharley you should not have to patch this. It's a bug. i will fix it asap.

[2022-08-23 06:20] Kaung-Htet-Hein opened #188 "Bottom safe area is not applied as the layout grows"
@ammarahm-ed

Please check the behavior in below video. Safe area is working properly when the sheet first opened.  As the view is added in ScrollView, bottom safe area is not applied. Am I missing something? Can someone help me fix this issue?

I am using v0.8.1
react-native v0.67.4

https://user-images.githubusercontent.com/100679042/186083958-11f0d00e-97bb-4935-83ed-531701492e32.mov

This is my

[2022-08-23 06:29] ammarahm-ed commented on #186
`TouchableNativeFeedback` working normally for me.

I think you have accidentally imported `TouchableNativeFeedback` from `react-native-gesture-handler`. Point your import to `react-native` and it should work as expected.

[2022-08-23 06:30] ammarahm-ed commented on #187
Fixed.

[2022-08-23 06:30] #187 closed

[2022-08-23 07:46] ammarahm-ed commented on #188
This is fixed. please go through the handling safearea guide at https://rnas.vercel.app/guides/safeare.

Make sure to upgrade to v0.8.2

[2022-08-23 07:46] #188 closed

[2022-08-23 12:02] Savvy commented on #186
I already mentioned that I am using the import from react-native

[2022-08-23 12:04] ammarahm-ed commented on #186
@Savvy I tried on both android and iOS with `TouchableNativeFeedback` and `onPress` event were working.

[2022-08-23 12:07] Savvy commented on #186
[code]

[code]

[2022-08-23 12:08] ammarahm-ed commented on #186
@Savvy  Also show me the MenuButton component.

[2022-08-23 12:09] Savvy commented on #186
[code]

[2022-08-23 12:10] ammarahm-ed commented on #186
@Savvy Ok thanks, I will try to reproduce with your exact implementation.

[2022-08-23 12:11] ammarahm-ed commented on #186
@Savvy You are trying on iOS or Android?

[2022-08-23 12:17] Savvy commented on #186
Android

[2022-08-23 12:21] ammarahm-ed commented on #186
@Savvy It's working.

[2022-08-23 12:26] Savvy commented on #186
Not working for me, I am on 0.69.1. I will update

[2022-08-23 12:32] Savvy commented on #186
Yes

[2022-08-23 12:32] ammarahm-ed commented on #186
let me try on a real device then.

[2022-08-23 12:34] ammarahm-ed commented on #186
@Savvy ahh okay, I was able to reproduce on real device. Will fix it. thanks for the quick response.

[2022-08-23 12:57] ammarahm-ed commented on #186
@Savvy It's fixed now. Will publish a new version.

[2022-08-23 13:01] ammarahm-ed commented on #186
Try v0.8.3. Just published.

Also, you should register sheets in `sheets.tsx` file. It should help with hot reloading and development.

[2022-08-23 13:04] Savvy commented on #186
Great, thank you. Also will make that change, thank you for the suggestion

[2022-08-24 09:32] efstathiosntonas opened #189 "[0.8.3] Error when changing elements inside the Actionsheet while it's open"
Hi, I'm getting this error if the sheet is open and I change an element inside it and FastRefresh kicks in:

![simulator_screenshot_620D9296-6B2A-40E9-B837-8FA759ACF8D0](https://user-images.githubusercontent.com/717975/186383569-415364a6-57a6-4677-a8e5-3f92cdfc2967.png)

Nothing special in terms of code used, using the standard sheet with no Scrollview etc, just plain text with vector icons and a

[2022-08-24 10:28] bobharley opened #190 "Animation triggers when keyboard shows or hides"
The show animation happens every time the keyboard shows or hides. The actions sheet moves a lot especially when typing on a multiple text input form.
Even switching the keyboard layout from alpha numeric to special characters triggers the animation.

Is there a way to disable animation when keyboard shows or hide?

I am using 0.8.3

[2022-08-24 10:37] bobharley opened #191 "ExtraOverlayComponent does not work"
Has this been implemented?

[2022-08-24 11:08] rnglnd commented on #169
Many thanks @ammarahm-ed !

[2022-08-24 13:43] focux opened #192 "Device freezing after interacting with input inside bottom sheet."
When in a modal and opening a sheet with an input, after filling the input and closing the sheet, the app gets frozen and unresponsive.

I'm using react-native-actions-sheet v0.8.3

[2022-08-24 14:15] ammarahm-ed commented on #192
@focux Hmm 🤔 what do you mean by interaction with input. Can you share a small example? Do you mean that it freezes on sending some api req etc after input. Or just that if you focus the input, close the sheet, the screen is frozen?

[2022-08-24 14:16] ammarahm-ed commented on #191
Ahh, I think i missed adding that 😄. I will make a new release and add back the implementation. Thanks for reporting

[2022-08-24 14:19] ammarahm-ed commented on #190
Hmm 🤔 I will test this out. If you can share a tiny example, it would be great so i can repro it quickly. Normal behavior is that sheet should move on keyboard open to stay above the keyboard.

Also:
Does keyboard hide between focusing different inputs or it stays open all the time and still the sheet moves?

[2022-08-24 14:57] focux commented on #192
I'm not doing any work inside the sheet, just storing a value from one input. Also, I've been testing more and the screen it's not actually frozen but it's not getting any touch event, so it looks like it's frozen, and it doesn't seem related to the input anymore, I removed all the content of the sheet and it's still happening.

I will try to reproduce it inside a snack.

[2022-08-24 15:01] efstathiosntonas commented on #189
with SheetProvider on App.tsx one step before my Routes. I have plenty of other stuff/providers above but it was never an issue on 0.8.0 (i was pulling directly from github even before you officially released 0.8.0 on npm). I think this started after 0.8.1 version.

[2022-08-24 15:02] ammarahm-ed commented on #189
@efstathiosntonas where are you registering your sheets?

[2022-08-24 15:05] efstathiosntonas commented on #189
with `registerSheet("bookmark_action_sheet", BookmarkedPostActionSheet)` as per README and then export it from index.ts.

So it goes something like this:

[code]

[2022-08-24 16:15] focux commented on #192
I was able to fix the bug, but I'm still not sure what was the bug, I was using the `react-native-keyboard-accessory` package and once I removed that part from the modal, it started working again. It's odd because it was working on prior versions.

[2022-08-24 16:15] #192 closed

[2022-08-25 04:23] bobharley commented on #190
@ammarahm-ed  the animation happens when the keyboard hides or closes, or when the user interacts with the form (ticks a checkbox, tap on show/hide password, or anything that causes the keyboard to hide)

Scrolling while the keyboard is open is fine because it doesn't close the keyboard, it's just when the keyboard shows, hides, or even resizes (can't reproduce on this device because the keyboard

[2022-08-25 04:57] bobharley commented on #190
Also it happens when a conditionally rendered component (for example a validation message) shows/hides inside the action sheet. Maybe because it's causing the actions sheet's height to change?

[2022-08-25 09:00] bobharley opened #193 "closeOnBackPress does not work"
I tried debugging the back handler and I found out that the listener gets removed immediately when the sheet opens

[2022-08-25 10:42] ammarahm-ed commented on #190
@bobharley I think i have fixed this. Will make a new release soon.

[2022-08-25 10:43] #193 closed

[2022-08-25 10:45] ammarahm-ed commented on #189
Hmm 🤔 move the `registerSheet` function out to the `sheets.ts` file. I think that should fix this.

Also docs are updated at https://rnas.vercel.app. do check it out.

[2022-08-25 10:55] bobharley commented on #190
Thanks @ammarahm-ed

[2022-08-25 12:29] ammarahm-ed commented on #191
Fixed.

[2022-08-25 12:29] #191 closed

[2022-08-25 12:32] ammarahm-ed commented on #190
The actionsheet should animate on height change. that's normal. However it should only animate from exisiting position, not from the bottom which looks awful. The issue was that the `initialValue.current` check inside `onSheetLayout` function was not working, causing the sheet to translate out of viewport everytime it rerendered.

[2022-08-25 12:32] #190 closed

[2022-08-25 14:53] 13627491210 opened #195 "Gesture return cannot close the actions-sheet"
Hello,  Gesture return cannot close the actions-sheet, can you help me? thanks~

[2022-08-25 15:36] 13627491210 commented on #195
closeOnTouchBackdrop ，is invalid

[2022-08-25 15:43] ammarahm-ed commented on #195
Can you explain what you mean by that?

[2022-08-25 20:12] n-kulic commented on #195
@ammarahm-ed `onClose` callback is not triggered when you close `ActionSheet`:

[react-native-actions-sheet](https://github.com/ammarahm-ed/react-native-actions-sheet) - **v0.8.3**

[code]

Reproducible example (forked original expo snack example): https://snack.expo.dev/@nkulic/github.com-ammarahm-ed-react-native-actions-sheet:expo-example

[2022-08-25 20:16] n-kulic commented on #182
@ammarahm-ed Reason for this issue is that @SikoraKam navigated to a new screen, opened `ActionSheet` and eventually closed it, but `ActionSheet` did not close in the background, this can be confirmed by setting `onClose` callback to `ActionSheet` which does not fire when ActionSheet closes

[react-native-actions-sheet](https://github.com/ammarahm-ed/react-native-actions-sheet) - **v0.8.3**

[2022-08-26 00:53] 13627491210 commented on #195
sorry,my English is not good 。 please allow me speak chinese with you。

[2022-08-26 00:56] 13627491210 commented on #195
我升级了最新版“react-native-actions-sheet” 之后，手势返回和物理返回 不会关闭 sheet。0.7 is OK，but 0.8 is bad。 help me,thanks。

[2022-08-26 03:30] vbylen opened #196 "Horizontal scroll support"
Hi @ammarahm-ed,

I've recorded a small video to show you the problem I'm encountering with horizontal scrolling inside the actions sheet.

https://user-images.githubusercontent.com/57633368/186810953-f7b4ee83-acfa-4530-a36c-5c8b3cfa1a90.MOV

Basically the vertical scroll is too sensitive and is firing even though we're trying to scroll horizontally.

Do you have any suggestions for how to proceed

[2022-08-26 04:19] ammarahm-ed commented on #195
I will look into it.

[2022-08-26 04:21] ammarahm-ed commented on #182
@n-kulic this issue was created before 0.8.x

[2022-08-26 04:22] ammarahm-ed commented on #196
Hmm okay. Seems like a bug. I will fix it asap.

[2022-08-26 05:59] ammarahm-ed commented on #196
Fixed! Thanks for reporting.

[2022-08-26 05:59] #196 closed

[2022-08-26 06:01] ammarahm-ed commented on #195
Hey @13627491210 Please follow the latest guide at https://rnas.vercel.app. @n-kulic I fixed the onClose prop not getting called but that is not related to sheet not closing. Sheet closes normally in the example.

[2022-08-26 06:02] ammarahm-ed commented on #195
Also @13627491210 Can you share a video, I think it will help me better understand what is happening.

[2022-08-26 06:11] 13627491210 commented on #195
OK

[2022-08-26 06:20] 13627491210 commented on #195
https://user-images.githubusercontent.com/37203543/186835626-86281332-1ce8-41ef-ba88-656584e0815c.mp4

[2022-08-26 06:21] 13627491210 commented on #195
@ammarahm-ed   uploaded

[2022-08-26 06:52] ammarahm-ed commented on #195
@13627491210 okay, The Back Handler is not working? if i am correct.

[2022-08-26 07:04] 13627491210 commented on #195
yeah,  actions-sheet  is not closed。

[2022-08-26 07:22] bobharley opened #197 "Sheet position is off when keyboard is focused and isModal is false"
Here's an example [snack](https://snack.expo.dev/@bobharlly/test-action-sheet-keyboard)

![image](https://user-images.githubusercontent.com/25066334/186845751-323b85c3-272c-4496-990e-341b48295a06.png)

[2022-08-26 08:17] n-kulic opened #198 "onClose callback not called when ActionSheet closes"
Description:
- onClose callback not called when ActionSheet closes

Steps to reproduce:
- video displaying the issue: https://user-images.githubusercontent.com/94164339/186859685-76e67e26-c276-4c01-a201-0c26a171d333.mp4
- reproducible sample: https://snack.expo.dev/@nkulic/github.com-ammarahm-ed-react-native-actions-sheet:expo-example?platform=ios

Version:
- [react-native-actions-sheet](https://g

[2022-08-26 12:02] SikoraKam commented on #198
Same happens to me

[2022-08-26 12:10] #198 closed

[2022-08-26 12:10] ammarahm-ed commented on #195
Fixed. wait for next release.

[2022-08-26 12:10] #195 closed

[2022-08-26 12:12] ammarahm-ed commented on #197
Can you try `keyboardHandlerEnabled={false}` on ActionSheet. Should fix this for now. I will fix it internally for next release.

[2022-08-26 12:30] ammarahm-ed commented on #197
Fixed this too. thanks for reporting.

[2022-08-26 12:30] #197 closed

[2022-08-26 13:44] mehdinourollah commented on #149
I didn't quite get that would you elaborate more ?

In my case I go exactly like the Examples but the difference is that I have both "global" and local action sheets and I want to render one global (Dialog) while the other local one is opened. It shows me the functions inside the global is running but I don't see that new opened sheet on the screen.

[2022-08-26 20:43] vbylen commented on #196
Looking forward to the release 💯

[2022-08-26 22:35] focux opened #199 "Interactions don't work when nesting action sheets."
I have two action sheets, one nested inside the other using providers. When I open the nested one, interactions like tapping and scrolling don't work on the action sheet in the foreground but are passed to the one in the background. So, if I scroll, the action sheet in the background scrolls, and the one in the foreground doesn't do anything. I have only tested in iOS so far.

Version: 0.8.3

[2022-08-26 23:58] 13627491210 commented on #195
how time release the next version? i need it 。

[2022-08-27 02:32] ammarahm-ed commented on #199
@focux does this happen on a sheet with `isModal` set to `false`>

[2022-08-27 02:39] 13627491210 commented on #195
@ammarahm-ed

[2022-08-27 02:39] focux commented on #199
@ammarahm-ed Nope, both sheets are not setting `isModal` but using the default which I think is `true`.

[2022-08-27 02:47] focux commented on #199
I changed `isModal` to false on the nested action sheet and when I swipe down—to close the sheet in the foreground—both sheets move at the same time.

[2022-08-27 02:52] ammarahm-ed commented on #199
Have you set the context prop on nested SheetProvider?

[2022-08-27 03:31] focux commented on #199
Yes, I did. Here is a reproduction of the issue: https://snack.expo.dev/@foocux/community-developed-navigators-and-libraries-%7C-react-navigation

[2022-08-27 04:32] 13627491210 commented on #199
@ammarahm-ed   V 0.8.4 how time realeae? i need it very much,thanks。

[2022-08-27 06:18] ammarahm-ed commented on #195
Probably today.

[2022-08-27 07:23] ammarahm-ed commented on #199
I think I have fixed this. Thanks for reporting. Will release today.

[2022-08-27 07:23] #199 closed

[2022-08-28 02:34] focux commented on #199
Sweet! Thank you for the fast response, as always.

[2022-08-28 12:52] efstathiosntonas commented on #189
@ammarahm-ed I moved everything to `sheets.ts` and it’s better now, it only throwed the error once when I was messing with flipper and Devtools. If it throws it again I’ll reopen it.

thanks

[2022-08-28 12:52] #189 closed

[2022-08-28 12:55] 13627491210 commented on #195
hello, The Back Handler is working，but FlatView  is not working, dont't scroll 。

[2022-08-28 12:57] ammarahm-ed commented on #189
**@efstathiosntonas** thanks for letting me know. 🚀

[2022-08-28 12:57] #182 closed

[2022-08-28 12:59] 13627491210 opened #200 "The Back Handler is working，FlatView dont't scroll"
hello, The Back Handler is working，but FlatView is not working, dont't scroll 。
#195

[2022-08-28 13:11] 13627491210 commented on #200
after Back Handler,  FlatView don’t scroll 。

[2022-08-28 13:12] 13627491210 commented on #200
刚开始 FlatView 是可以滚动，但是当手势返回 关闭actions-sheet 后，FlatView 就滚动不了了。并且往下滑动也无法关闭 actions-sheet。

[2022-08-28 13:48] ammarahm-ed commented on #200
Are you using `useScrollHandlers` hook

[2022-08-28 13:53] 13627491210 commented on #200
yeah , and use ref ,is not SheetManager 。

[2022-08-28 16:37] ammarahm-ed commented on #200
I will test.

[2022-08-28 16:42] focux opened #201 "[Regression] Action sheet does not open inside a modal"
There seems to be a regression in the last release (v0.8.4), the action sheet doesn't open inside a modal. Here is a reproduction of the issue: https://snack.expo.dev/@foocux/action-sheet-interaction-problem

[2022-08-28 17:31] Savvy commented on #186
This issue seems to have resurfaced, clicking the touchable multiple seems to trigger onPress eventually.

[2022-08-28 20:44] ammarahm-ed commented on #201
Hmm I think i noticed it too but then it started working suddenly. I will take a look.

[2022-08-28 20:45] ammarahm-ed commented on #186
Will fix it. Seems like i increased the sensitivity again.

[2022-08-28 22:18] focux commented on #201
Awesome! Let me know if I can help.

[2022-08-29 00:52] 13627491210 commented on #200
https://user-images.githubusercontent.com/37203543/187102936-07aa1f02-9a21-4ae7-ace4-81a4fdb7a862.mp4

[2022-08-29 00:53] 13627491210 commented on #200
like this @ammarahm-ed

[2022-08-29 04:07] ammarahm-ed commented on #200
@13627491210 have you tried on a real device?  Is it the same?

[2022-08-29 05:33] ammarahm-ed commented on #200
And can you share basic code of your ActionSheet component?

[2022-08-29 06:08] 13627491210 commented on #200
yes,

[2022-08-29 06:11] 13627491210 commented on #200
const scrollHandlers = useScrollHandlers('FlatList-1', actionSheetRef);

 <ActionSheet
            id="helloworld_sheet"
            ref={actionSheetRef}
            defaultOverlayOpacity={0}
            headerAlwaysVisible
            animated
            gestureEnabled={true}>

            <FlatList
              alwaysBounceVertical
              ref={scrollViewRef}
              id="FlatList-1

[2022-08-29 06:12] 13627491210 commented on #200
const scrollHandlers = useScrollHandlers('FlatList-1', actionSheetRef);

  <ActionSheet
            id="helloworld_sheet"
            ref={actionSheetRef}
            defaultOverlayOpacity={0}
            headerAlwaysVisible
            animated
            containerStyle={{
              backgroundColor:
                themeColor[theme ? theme : 'light'].actionsheetBackgroundColor,

[2022-08-29 18:39] ammarahm-ed commented on #200
I was able to reproduce this. There's no easy way to fix the issue. We might need to use `react-native-gesture-handler` to fix this properly.

[2022-08-30 00:48] 13627491210 commented on #200
but 0.7  is  OK 。

[2022-08-30 00:50] 13627491210 commented on #200
yeah, but  V0.7 is OK , have you tried?

[2022-08-30 00:54] focux commented on #200
That's right, v0.7 works well. If I recall right v0.8 is a complete rewrite of the library and in my opinion, it's smoother than v0.7, that's why I prefer reporting/fixing the bugs and not downgrading haha.

[2022-08-30 01:16] 13627491210 commented on #200
yeah, v0.8 is great

[2022-08-30 03:38] ammarahm-ed commented on #200
V0.7 uses a ScrollVie that's why and the new impl uses Animated.View + PanResponder. So we will have to use `react-native-gesture-handler` lib to get scrollviews/flatlists working properly without issues.

[2022-08-30 03:40] #201 closed

[2022-08-30 04:03] bobharley opened #203 "Action sheet shrinks when keyboard shows"
This issue is actually weird because it doesn't always happen, so it's quite hard to reproduce. But I was able capture a screen recording of the issue happening.

I'm using 0.8.4

Here's the [snack](https://snack.expo.dev/@bobharlly/test-action-sheet-keyboard)
![test-keyboard](https://user-images.githubusercontent.com/25066334/187345692-a590b3b7-7bc6-4287-adee-723b32812cc5.gif)

[2022-08-30 04:33] ammarahm-ed commented on #203
Probably a race condition in sequence of calculations. Will look into it.

[2022-08-30 04:55] bobharley commented on #203
Also this doesn't happen when `isModal={true}` so I'll be doing that for now.

[2022-08-30 09:42] ammarahm-ed commented on #203
Okay, thanks for the info. 🙏

[2022-08-30 11:16] mcmxci1991 opened #204 "Action Sheet drops down first, then resume normal"
I want the action sheet pops up from bottom all the time.

https://user-images.githubusercontent.com/67533569/187422920-b915cf0a-3794-4bb5-b323-92327ab3d7dd.mp4

[2022-08-30 12:24] focux commented on #200
Sweet! I tried to take a look at fixing the issue but I don't understand very well all the moving pieces inside the `PanResponder` so I think I'll leave that for you haha. Thank you in advance.

[2022-08-30 13:25] 13627491210 commented on #200
if you fixed it ,please tell me, thanks.

[2022-08-30 14:33] ammarahm-ed commented on #204
This happens sometimes or always?

[2022-08-31 03:17] #204 closed

[2022-08-31 12:54] focux commented on #200
@ammarahm-ed I'm trying to fix the scrolling issue and if I remove the `scrollEnabled` property and the `setNativeProps` calls that disable `scrollEnabled` from the `useScrollHandlers` hook, everything works as expected, however, I'm sure that that logic is there for some reason so probably I'm missing something. Could the bug be related to that or is that needed for another use case?

[2022-08-31 13:24] focux commented on #200
These are the changes that fixed it for me, I'm not sure what implications it has but I'll be using it as a workaround until we find a proper fix.

https://github.com/focux/react-native-actions-sheet/commit/6a781a0e8c6d71b5a63d30ff34e24ceda6402c14

[2022-08-31 13:39] ammarahm-ed commented on #200
@focux does it make scrolling+ gestures both work inside the ScrollView area?

[2022-08-31 13:53] focux commented on #200
@ammarahm-ed  Yes, I think it does. Not sure if there's another gesture that should work inside the scroll view, besides swiping the sheet down when the scroll view reaches the top.

[2022-08-31 15:12] Tatobarbosa opened #206 "Cannot test this library with jest"
Hi!

I'd like to know how can i test this component with jest.

I dont find any implementation of test for this library on github repository, and when i try to test it, i take the following error:

![image](https://user-images.githubusercontent.com/78745144/187713505-c14a3be1-fe24-4f4d-8013-e9d77d579eeb.png)

There Is some way to test or mock this library?

[2022-08-31 16:00] ammarahm-ed commented on #206
You might need to use this in `jest.config.js`

[code]
so it will transform the lib with babel.

[2022-08-31 17:46] Tatobarbosa commented on #206
Yes, i did it!

I tryed to change "imports" to "require" on sheetmanager.js and this error stopped happening.

I think that the error occours cause the library use ES2017.

Here its my jest.config.js

`module.exports = {
  preset: '@testing-library/react-native',
  moduleDirectories: ['node_modules', 'src'],
  transform: {
    '^.+\\.js$': require.resolve('react-native/jest/preprocessor.js')
  },

[2022-09-01 11:30] ch3rn1k opened #207 "Animation broken or initial position problem"
Hello! Thank you for awesome lib, but I have some problems with it. Sometimes I'm getting weird bug when `ActionSheet` can't be opened. I'm using `SheetManager` with custom `context` (tested with global too - same bug):

[code]

**UPD:**
Maybe something with warning in console?
` WARN  Sending 'onAnimatedValueUpdate' with no listeners registered.`

https://user-images.githubusercontent.com/1937578

[2022-09-01 19:00] ammarahm-ed commented on #207
Where have you defined the SheetProvider. Do you get same issue with background interaction disabled?

[2022-09-01 19:13] estmau commented on #186
I am using version 0.8.4 with react native 0.69.5. The "ActionSheet" is not displayed in ios, but in android it is. I use a "Pressable" from "react native".

[2022-09-01 19:14] ch3rn1k commented on #207
1 is global without any params, wrapper for applucation
2 is inside page (this one on video)

[2022-09-02 05:00] BooYeu commented on #207
Same issue. 0.8.3 is ok (but onClose is invalid), but 0.8.4 has some problems (It seems like the problem is that actions sheet in native stack navigator)

[2022-09-02 05:27] HyopeR opened #208 "Opening, closing and content size calculation problem on iOS phones after 0.8.2 update."
Hello, I am using the new version of your package in a project I am currently developing.
**After the [0.8.2 update](https://github.com/ammarahm-ed/react-native-actions-sheet/releases/tag/v0.8.2)**, I think there are some calculation errors when opening and closing sheet on **ios phones**.
Sometimes everything works fine. Sometimes the **sheet opens but does not appear,**
opens but **does not clos

[2022-09-02 07:51] ch3rn1k commented on #207
@ammarahm-ed I think something is wrong with content height calculations, so:

I have tested opening modal via `useEffect` hook on main page and it opens at bottom with **broken height**
[code]
https://user-images.githubusercontent.com/19375789/188086424-4a5e3c0d-1f64-4a3e-ad93-afed408fc560.mp4

Then I have tested opening modal with 1 second delay and it **works fine** (watch video 2)
[code]
https

[2022-09-02 08:11] ammarahm-ed commented on #207
Hmmm 🤔 I think the height is calculated at the wrong time or too soon which causes the sheet to be of wrong size probably at the start. However it should resize automatically based on size changes. What if you give fixed height to the first View inside the sheet? And disable the timer?

[2022-09-02 08:39] ch3rn1k commented on #207
Same

[code]

[code]

https://user-images.githubusercontent.com/19375789/188100134-cb6c0d00-0132-46dd-b2c6-4394475d59a0.mp4

[2022-09-02 10:04] ch3rn1k opened #209 "ActionSheet shadow styles"
Any way to remove/change shadow of `ActionSheet`?
I have tried to change via `containerStyle` and `style` - nothing works, thanks

[code]

![image](https://user-images.githubusercontent.com/19375789/188115941-07fd343e-71ee-4802-9e2c-8e927ee4d171.png)

[2022-09-02 10:25] ch3rn1k commented on #209
Everyone searching - use `elevation` on `ActionSheet`, my fault

[2022-09-02 10:25] #209 closed

[2022-09-02 11:56] ch3rn1k commented on #207
If I start opening sheet after **300ms timeout** - everything okay. Something with `react-navigation`, it breaks plugin animation :(

[2022-09-02 12:01] ammarahm-ed commented on #207
@ch3rn1k you don't need to define  SheetProvider in each screen. Local SheetProviders are supposed to be used inside other ActionSheets only.

Use the global SheetProvider and define it at the earliest point in your app.

[2022-09-02 12:13] ch3rn1k commented on #207
If I define some sheets over global `SheetProvider` - it's going to be visible through app, but how to deal with "page only"?
I can't define at earliest point, because without `NavigationContainer` navigation function will not work (hook, etc.)

[2022-09-02 12:17] ch3rn1k commented on #207
Well, I have tested setting global SheetProvider and got same:

App.js
[code]

[2022-09-02 13:03] ammarahm-ed commented on #200
Hey @focux Did you fix on android or iOS or is it working fine now on both?

[2022-09-02 13:04] ammarahm-ed commented on #206
I think I will change it to commonjs. ES2017 is too new for node.

[2022-09-02 13:18] ammarahm-ed commented on #208
Is this happening with backgroundInteractionsEnabled?

[2022-09-02 13:39] focux commented on #200
So, it's working perfectly on iOS, and on Android, the list works but sometimes, when reaching the top of the list, the swipe doesn't close the action sheet.

[2022-09-02 13:40] ammarahm-ed commented on #200
I tested on iOS and yes, it seems to work without calling setNativeProps. On android still have to give it a try.

[2022-09-02 13:41] ammarahm-ed commented on #207
@ch3rn1k Can you try replacing `useEffect` with `useLayoutEffect`.

[2022-09-02 13:45] HyopeR commented on #208
Yes, I tried this property, it didn't make any difference.
I'll try to provide more information when I'm available.
Thanks for this functional package. @ammarahm-ed  Cheers 🥂

[2022-09-02 13:45] focux commented on #200
Sweet! Also, removing `setNativeProps` adds support for using more list components, like `FlashList` which doesn't support `setNativeProps`. Also, RN recommends migrating off that, to another method because that won't work on Fabric [0].

[0] https://reactnative.dev/docs/new-architecture-library-intro#migrating-off-setnativeprops

[2022-09-02 13:56] ch3rn1k commented on #207
Yeah, work fine without delay but only in `global` `SheetProvider`. Any way to use local `SheetProvider` inside page?

[2022-09-02 14:12] ammarahm-ed commented on #207
@ch3rn1k I just tested with local sheet provider + react navigation and it's working correctly for me. Can you try running the master branch?

[code]
And see if it should fix the problem or not.

Here's how I tested it:

[code]
When I move from Home to Next screen, the Sheet shows up instantly and in correct position.

[2022-09-02 14:43] ammarahm-ed commented on #200
@focux Hmm will have to see the issue on android though. If we can workout a solution that's dependency free for lists/scrolling views, that would be great I think. 😄 I have really tried very hard to not depend on anything except what RN offers.

[2022-09-02 15:23] Savvy commented on #186
Will this be fixed soon by chance? @ammarahm-ed

[2022-09-02 15:25] ammarahm-ed commented on #186
It's fixed on master. Just need to release.

[2022-09-03 18:47] bencreynolds opened #210 "[ios] Opening Sheet Inside Sheet Causes Freeze"
Using version 8.4.0.

When is use SheetManager.show() inside a Sheet, the sheet fails to open and all I can do is dismiss the first sheet, as when it dismisses, the whole app doesn't respond (presumably because the app thinks a sheet is rendered and background interaction is disabled).

If I use isModal={false}, the issue disappears, but I can't use that in my production app. The issue also isn't

[2022-09-03 20:39] ammarahm-ed commented on #210
Hi, if you want to open a Sheet inside another sheet, register a SheetProvider the parent actionsheet with a context. Then register the child actionsheet with it. That should work.

[2022-09-04 07:15] 13627491210 commented on #200
hi,😊   do you have a  solution ?

[2022-09-04 21:52] Savvy commented on #186
When will it be released?

[2022-09-05 02:15] bencreynolds commented on #210
Oh, great. Thanks so much for the explainer.

[2022-09-06 05:11] efstathiosntonas commented on #208
@ammarahm-ed I’ve also noticed that the sheet sometime opens from the top to the bottom, it feels like it starts big and then gets small or it starts from the top of the screen, it happens fast and I cannot clearly see the entry point. I don’t know about Android, haven’t tested it.

[2022-09-06 05:43] ammarahm-ed commented on #208
This is fixed master. Will release today

[2022-09-06 12:47] ammarahm-ed commented on #186
@Savvy Today

[2022-09-06 16:45] justinairbase opened #212 "Can't open multiple sheets on iOS"
This used to work on the earlier versions of the library but after updating to 0.8.4 it's not working anymore.
Tried both `ref` and `SheetProvider` approach with context defined.

What is the recommended approach here?

[2022-09-07 03:44] justinairbase commented on #212
Fixed it by using `isModal={false}`

[2022-09-07 03:44] #212 closed

[2022-09-07 07:04] TangChanged opened #213 "Action Sheet can not show views on ios"
![WechatIMG395](https://user-images.githubusercontent.com/12230238/188811608-3b9aa89b-4c2e-4372-b070-ba026f55e815.png)

version: 0.8.4.

show：  customOptionRef.current?.setModalVisible(true);
onOpen has a callback but can not show views。

The image above is an ios layer. the top shows the action sheet modal， but no children.

[2022-09-07 08:49] alialkorsani commented on #213
I fixed by downgrade to v0.8.3

[2022-09-07 09:42] TangChanged commented on #213
I tried and I couldn't

[2022-09-07 09:51] alialkorsani commented on #213
did you install the package using the command :
`yarn add react-native-actions-sheet@0.8.3`

[2022-09-07 10:00] shobhitsinghal624 opened #214 "[Only in iOS] Navigating to new screen leads to a frozen screen"
Note: This issue occurs only in iOS. In android it works fine.

If I navigate to a new screen immediately after calling `actionSheetRef.current?.hide()` the new screen is frozen.
If I navigate after a timeout more than 500ms, the new screen works fine.

Video for reference:

https://user-images.githubusercontent.com/4579093/188850577-c55b2f61-cfdd-4997-b9cb-aa30464cc3b0.mov

[2022-09-07 10:01] IlliaPruskii opened #215 "IsOpen always return false"
Hello!
I need to detect which drawer is open right now, but isOpen function always returns false. You can find my code below, thanks!
[code]
Note: version 0.8.4 and I used it with expo

[2022-09-07 12:27] ch3rn1k commented on #207
Well, I'm still getting same. Hope others is okay.

[2022-09-07 12:27] #207 closed

[2022-09-08 06:41] ghost opened #216 "[Android] Value for initialVelocity cannot be cast from ReadableNativeMap to Double"
On android the action sheet crashes the app with the following error:
[code]

[code]
![initialVelocity error](https://user-images.githubusercontent.com/51368399/189052587-ac231d78-841d-4990-9025-693c9e1e23a4.png)

[2022-09-08 07:45] TangChanged commented on #213
package.json config.: ^0.8.3, Automatic updates

[2022-09-08 07:45] #213 closed

[2022-09-10 15:06] Savvy commented on #186
Is this being released?

[2022-09-11 22:57] ArietNyshanbaev commented on #213
Downgrading helped me first day but on very next day it stop working again,
I still use 0.8.3 according to package-lock.json, but action sheet is invisible.
Any idea?

[2022-09-12 11:32] efstathiosntonas commented on #208
@ammarahm-ed any news on this? Thanks

[2022-09-13 03:20] shobhitsinghal624 commented on #214
@ammarahm-ed Were you able to check this out? I can work on a PR if you can point me in the right direction.

[2022-09-13 08:24] ammarahm-ed commented on #215
Fixed in v0.8.7

[2022-09-13 08:24] #215 closed

[2022-09-13 08:27] IlliaPruskii commented on #215
Thanks!

[2022-09-13 08:28] ammarahm-ed commented on #208
Try v0.8.7

[2022-09-13 08:28] ammarahm-ed commented on #186
Try latest version

[2022-09-13 08:29] ammarahm-ed commented on #203
Try v0.8.7

[2022-09-13 15:03] Tatobarbosa commented on #206
I think you could release a test version with commomjs so we could test if that solves the problem.

[2022-09-13 18:54] #186 closed

[2022-09-14 08:54] bhaktitud commented on #216
getting this error too on Android

[2022-09-14 12:34] ammarahm-ed commented on #216
I can't reproduce it. Can you share an example? That would help

[2022-09-15 13:46] focux commented on #214
You forgot to await the `hide` function, that might fix your error.

[2022-09-15 13:47] focux commented on #200
@ammarahm-ed Ya, I also noticed that. Not sure how we could fix that though.

[2022-09-15 14:54] ammarahm-ed commented on #200
Probably the solution would be to use react-native-gesture-handler

[2022-09-16 08:05] shobhitsinghal624 commented on #214
@focux The `hide` function exposed by the `ref` is not async. The one exposed by the `SheetManager` is async. Using await is not helping here. The problem still persists.

[2022-09-16 09:14] ilovinht opened #217 "[iOS only]Can't open sheet inside modal"
It works on Android, but sometimes the sheet opens with extra space in the bottom.
And on ios, when I tap the button which opens the sheet, nothing happens and app freeze after closing the modal...
I'm new to RN. Is this a bug or my mistake...?

my modal.js
[code]

my sheet.tsx
[code]

I've wrapped app with SheetProvider in app.js like:
[code]

[2022-09-16 21:24] coryschadt opened #218 "Keyboard avoiding behavior not smooth."
I have based my sheet off one of the examples here: https://snack.expo.dev/@ammarahmed/github.com-ammarahm-ed-react-native-actions-sheet:expo-example

When I tap on an input, they keyboard opens but it is not smooth like in the example (Keyboard appears, sheets animates up).
In mine, there is a bit of a delay, the keyboard appears and the modal doesn't animate up. I tested this in the simulator an

[2022-09-21 17:19] johnny-mcfadden-dailypay commented on #217
Just bumped into the same issue with more or less the same component hierarchy as above. Temporary work around seems to be not registering the sheet inside the modal and just rendering it as a normal component.

/* IMPORTANT - For action sheets used inside Modals, registering sheets doesn't seem to work
  - It may be where we have our SheetProvider wrapping
  - Workaround is just to not register i

[2022-09-21 18:15] ammarahm-ed commented on #217
@johnny-mcfadden-dailypay @ilovinht use multiple SheetProviders. Register a new SheetProvider inside the opened Sheet component then register your sheet with your global Sheet Provider + Local. And then it should work as expected when Opening sheet with SheetManager in the given context. It's probably on the docs too.

[2022-09-21 18:49] johnny-mcfadden-dailypay commented on #217
Ahh! I'll give that a go 🔥 Just to confirm:

- Put a new sheet provider inside the modal?
- Import a new locally scoped sheets file into the modal that registers the sheets displayed inside the modal?

[2022-09-21 18:57] johnny-mcfadden-dailypay commented on #217
@ammarahm-ed adding a SheetProvider as a child in the modal seemed to work a treat, thank you v much.

[2022-09-22 05:13] #217 closed

[2022-09-22 11:11] johnny-mcfadden-dailypay commented on #217
@ammarahm-ed just one thing to note incase someone else bumps into it. I noticed the freeze behaviour still occurs in the following scenario:

- Modal has a sheet provider child wrapping all the modal children, where one of the children makes  a call to show the action sheet:

[code]
- The action sheet is now open. In this scenario it's an action sheet that says: "Are you sure you want to exit thi

[2022-09-22 11:15] ammarahm-ed commented on #217
A proper way is this:

[code]
In registering the sheet:

[code]
Then call open close with the contextId in payload:
[code]

[2022-09-22 11:33] ch3rn1k opened #220 "Broken scrollHandlers"
After changing `key` prop on `ScrollView/FlatList` breaks scrollHandlers. Any idea how to fix that?

[2022-09-22 11:42] johnny-mcfadden-dailypay commented on #217
Ahh!! I seen the context params in the docs but hadn't fully looked into trying that yet. Brilliant!! Thank you @ammarahm-ed

[2022-09-22 16:08] bencreynolds commented on #218
I have the same issue. Hopefully the developer responds.

[2022-09-22 16:15] coryschadt commented on #218
@bencreynolds it works, just a little janky. Be great to smooth that out. otherwise this is an awesome solution so far.

[2022-09-22 17:30] bencreynolds commented on #218
Just tested, looks like the "jerky" behavior started in 0.8.4. It worked normally before then.

[2022-09-22 17:42] coryschadt commented on #218
You are right!
https://user-images.githubusercontent.com/682876/191815415-44bbb4c8-9166-446f-885c-cdfea4d2b2dc.mov

[2022-09-22 18:54] ammarahm-ed commented on #218
I worked a solution to fix this and some other issues with keyboard. Will make a new release soon.

[2022-09-22 18:57] coryschadt commented on #218
Thank you! I tried to send a small sponsorship via paypal: got this message FYI "Sorry, this recipient can’t accept payments right now."

[2022-09-22 20:14] bencreynolds commented on #218
Awesome! Thanks so much :)

[2022-09-22 21:45] ammarahm-ed commented on #218
I should probably remove that. We don't have PayPal in my country. It's technically impossible to get a donation in a simple way.

[2022-09-24 00:03] dkulakov opened #221 "Cannot test this library with testing-library/react-native"
First off all thanks for this great library!

After I've switched to this library some of my tests are failing, specifically test cases which interact with ActionSheet.
I need to render ActionSheet content in my tests, after some research I found this [peace of code](https://github.com/ammarahm-ed/react-native-actions-sheet/blob/master/src/index.tsx#L932) what I guess to cause a problem.
I'm not s

[2022-09-25 10:10] tarekhassan410 opened #222 "Additional space added in modal"
Action sheet shows additional space in bottom of it.
It is random,one time it shows and the next time it doesn't.

![Screenshot_20220925-120042_1](https://user-images.githubusercontent.com/15326442/192138274-95a99ef5-6a59-4841-b775-3412ed47b4be.jpg)
![Screenshot_20220925-120106_1](https://user-images.githubusercontent.com/15326442/192138275-5c69dbc1-c977-492b-84d2-b0616c17eaa6.jpg)

[2022-09-25 14:16] ammarahm-ed commented on #222
Hi, this happens on iOS or android? Also which version of the sheet are you using?

[2022-09-25 14:24] tarekhassan410 commented on #222
I am using Android, version 0.8.7.
Also, on downgrading to 0.8.0 it works fine.

[2022-09-27 09:06] johnny-mcfadden-dailypay commented on #221
Hi @dkulakov, what functionality are you trying to test exactly? I would recommend not mocking this library and just asserting that the show and hide functions are called. If you really want to, you could also add a snapshot. Here is an example:

[code]

The custom render import aligns with docs:
https://testing-library.com/docs/react-native-testing-library/setup

[2022-09-27 09:08] johnny-mcfadden-dailypay commented on #214
@shobhitsinghal624 I would recommend moving to the sheet manager pattern to register sheets under a provider. It's much nicer and you won't have any async/await ref issues

[2022-09-27 11:22] dkulakov commented on #221
Hi @johnny-mcfadden-dailypay , thanks for your reply!

Exactly, I don't want to mock this library, but the problem is that the value [dimensions.height](https://github.com/ammarahm-ed/react-native-actions-sheet/blob/master/src/index.tsx#L932) will be always `0` in the test environment, so it means you can't test your custom content inside the `ActionSheet` component.

[2022-09-27 11:48] johnny-mcfadden-dailypay commented on #221
@dkulakov if you trigger the sheet open and wait for it async, does it still have 0 dimensions in height? In the example above, the close action sheet button i'm getting:

`const closeActionSheetButton = tree.getByTestId('loginRegisterInfoSheetCloseButton');`

is within the action sheet, as "custom content" as you've referred to. But I could grab any content inside the action sheet by test id and

[2022-09-27 12:42] dkulakov commented on #221
@johnny-mcfadden-dailypay as I can see `dimensions.height` changes inside [onLayout](https://github.com/ammarahm-ed/react-native-actions-sheet/blob/master/src/index.tsx#L859) event, but test environment renders components in nodejs environment which doesn't have any dimensions, that's why `dimensions.height` always will be 0.

[2022-09-27 14:18] johnny-mcfadden-dailypay opened #223 "? [Question] Is it possible to use the old slide down animations when hiding an action sheet?"
The current animation just quickly fades when you click the backdrop or by calling hide action sheet. I was hoping to still have the old slide down animation (well our designer)

[2022-09-27 14:24] johnny-mcfadden-dailypay commented on #220
@ch3rn1k could you provide more information? I was also trying to use the scroll handlers for an action sheet with a scrollview inside but wasn't having any luck. I resorted to disabled gestures for an action sheet with lots of vertical content to get the scroll working.

[2022-09-27 14:38] johnny-mcfadden-dailypay commented on #218
@coryschadt or anyone here, how did you get the slide down animation? Upgraded to `0.8.7` and the action sheets seem to just fadeout on backdrop press and calling hide action sheet.

[2022-09-27 14:49] johnny-mcfadden-dailypay commented on #223
Ah.. sorry, I see `closeAnimationConfig` when jumping into the types.

<img width="860" alt="Screenshot 2022-09-27 at 15 49 32" src="https://user-images.githubusercontent.com/93137292/192559804-86f50416-8165-46ce-bb11-c58bc0989af4.png">

[2022-09-27 15:31] johnny-mcfadden-dailypay commented on #223
I've got as:

[code]

The docs for spring animations is super gnarly (https://reactnative.dev/docs/animated#spring 😱 ), above config still is a bit too quick on slide down.

[2022-09-27 15:42] bencreynolds commented on #218
I haven’t had that issue with 0.8.7. Dismiss behavior doesn’t change between versions for me. I’d need to see your code to be of any help.

[2022-09-27 16:57] johnny-mcfadden-dailypay commented on #218
Sorry it was me being silly with a close animation override for the spring speed 🤦. thanks.

[2022-09-27 16:58] johnny-mcfadden-dailypay commented on #223
<img width="380" alt="Screenshot 2022-09-27 at 17 58 26" src="https://user-images.githubusercontent.com/93137292/192589357-4e6c37e7-061c-4106-86ff-29c10afed589.png">

Closing out, was me being silly. Just need to learn this spring animation stuff.

[2022-09-27 16:58] #223 closed

[2022-09-27 19:58] dkulakov commented on #221
@johnny-mcfadden-dailypay I've created reproducible [example](https://github.com/dkulakov/rn-sheet-test/tree/main/__tests__). Can you check it?
It fails with the latest version, but if you install version `0.8.3`, test works well.

Thanks in advance!

[2022-09-27 21:42] dkulakov commented on #206
Hi @Tatobarbosa , please check my [repository](https://github.com/dkulakov/rn-sheet-test), I don't have such issue.

[2022-09-28 05:36] JJJJune opened #224 "action sheet is popped out of the screen when input is focused"
action sheet is popped out of the screen when input is focused. when i change the keyboard, action sheet scroll into view.Does anyone know how to fix this?
https://user-images.githubusercontent.com/38945816/192695375-9e8bc285-e173-4419-9370-3b40e122cfe9.mp4

[2022-09-28 09:04] johnny-mcfadden-dailypay commented on #221
@dkulakov in your example it doesn't look like you've called the action sheet open before trying to assert the combo change option was called.

[2022-09-28 11:19] dkulakov commented on #221
@johnny-mcfadden-dailypay [here is](https://github.com/dkulakov/rn-sheet-test/blob/main/__tests__/Select.test.tsx#L41) I call the action sheet open

[2022-09-29 06:55] Taloqq commented on #221
Hey guys, I have a related problem and I thought this would be the best place to ask. I have a problem of finding the elements inside the ActionSheet in my test. Heres my component code:

[code]
If I render MyComponent in the test, it is unable to find 'viewTestId' with 'getById()' inside the ActionSheet.

It seems that 'findByText()' works though, but it does give me a reference error:
`Reference

[2022-09-29 12:48] dkulakov commented on #221
@Taloqq try to add `waitFor` like in this [example](https://github.com/dkulakov/rn-sheet-test/blob/main/__tests__/Select.test.tsx#L43)

[2022-09-30 06:10] jordanmkoncz commented on #217
I ran into the same issue when trying to load a sheet from within a react-navigation screen with `presentation: "modal"`. I added an extra `SheetProvider` within that modal screen as the top-level element as per your suggestion @ammarahm-ed and it worked.

In order to make the sheet work within this screen and also within the regular global context from another (non-modal) screen, I had to pass th

[2022-10-01 15:27] ayuleul commented on #224
When the input is focused, the sheet moves upward! I've the same issue.

[2022-10-02 03:15] ammarahm-ed commented on #224
Can you guys drop your implementation so i can replicate the issue?

[2022-10-02 11:31] Taloqq commented on #221
@dkulakov It still gives me the same referenceerror. Im able to fix the reference error with `jest.useFakeTimers('legacy')` but it still says `A worker process has failed to exit gracefully and has been force exited.` Anyhow, is it possible to use  `getByTestId()` with this library?

[2022-10-02 12:09] dkulakov commented on #221
I'm using version `0.8.3` and my tests work fine, but on the latest version it doesn't.

[2022-10-02 15:23] NathanC opened #225 "useScrollHandlers isn't allowing me to scroll"
I'm using 0.8.7, and have a ScrollView in my ActionsSheet. I followed the guide, and set up the handler like this:

[code]

Then my action sheet like this:
[code]

It renders the ActionSheet, but I can't scroll to the bottom of my list. Swiping up just kicks in the overscroll effect. Swiping down closes the ActionSheet, but is a little unreliable/sometimes laggy.

I'm using Expo Go in Android 13.

[2022-10-02 15:28] NathanC commented on #225
Also, something that may be good to support (and was the behavior of the actionsheet I was using previously) would be gesture enabled only on the little handle on the top. That would support ScrollView nicely, even though it's not ideal.

[2022-10-02 15:47] NathanC opened #226 "Can't click anything on screen briefly after close animation"
It looks like the backdrop doesn't go away until a moderate number of milliseconds after the close animation is finished.

On my system (Android 13), when the ActionSheet is open my status bar icons dim. The other content in my screen also dims, although not as much.

When the close animation starts, my status bar remains dim, but the items in the rest of my screen immediately lighten. My status b

[2022-10-02 15:51] NathanC commented on #226
Setting `isModal={false}` prevents the status bar dimming, but it appears that the delay till intractable is still the same.

[2022-10-02 15:59] NathanC commented on #226
I tried to hook into `onClose` and set some state that would enable `backgroundInteractionEnabled`, but `onClose` doesn't fire until the background becomes intractable again (and there doesn't seem to be an `onBeforeClose`).

[2022-10-02 17:37] sofiiachkadua commented on #224
The same for me -  sheet moves upward every time keyboard is triggered

[code]

Also happened when AutocompleteDropdown from https://www.npmjs.com/package/react-native-autocomplete-dropdown. changes its state

[2022-10-03 08:41] ayuleul commented on #224
In my case, I did it in the following manner:
`    <ActionSheet
      id="feed-create-post-sheet"
      ref={actionSheetRef}
      containerStyle={styles.actionContainer}
      statusBarTranslucent
      drawUnderStatusBar={true}
      defaultOverlayOpacity={0.3}
      gestureEnabled={true}

      <View style={styles.container}>
        <View style={styles.inputConStyle}>
            <TextInput

[2022-10-03 10:03] SchneiderOr commented on #49
Same here, fetching data upon ActionSheet opening
- Click on see more
- Action sheet open and we set a spinner defined in state
- we fetch items and hide loader
sometimes it closes the AS, sometimes it keep it open, inconsistent

[2022-10-04 00:28] Tatobarbosa commented on #206
@dkulakov I don't know what you're doing different from me, but in my code it doesn't work, jest shows the error of 'Cannot use import statement outside a module'.

I've tried several things, change babel dependencies, change tsconfig, unfortunately nothing solves the problem.

It is very bad to use the lib without being able to test the behavior of the screens.

[2022-10-05 05:49] Taloqq opened #227 "closeAnimationConfig doesnt work"
I want to make the closing animation slower, but closeAnimationConfig doesnt seem to work as it should. When I give the same config to openAnimationConfig, it does work. For some of the configs it behaves weirdly instead of having no effect at all. For example if I give the closeAnimationConfig a mass of 100, it flickers as it closes, but doesnt have any slowing effect on it.

[code]
[code]
`useNa

[2022-10-06 09:16] Taloqq commented on #221
@dkulakov Hey I'm having a new issue. I have a pressable/button inside the sheet component, and when Im trying to press it, it fails with `Cannot read properties of undefined (reading 'onPress')` Have you had this issue? It doesnt matter if I find it by text or testid. `await waitFor(() => fireEvent.press(component.findByTestId('taloButton')));`

[2022-10-06 09:22] dkulakov commented on #221
@Taloqq Look how I do it in my [example](https://github.com/dkulakov/rn-sheet-test/blob/main/__tests__/Select.test.tsx#L44)
<img width="350" alt="image" src="https://user-images.githubusercontent.com/6547279/194276325-f53777a9-b95c-449d-98bd-ba9a2dc9d078.png">

[2022-10-06 09:27] Taloqq commented on #221
@dkulakov
[code]
Gives `Unable to find an element with text: Talo`
And If i replace getByText with findByText, it gives `Timed out in waitFor.`

[2022-10-06 09:28] sofiiachkadua commented on #224
Hello! Thanks for tip. It helps for IOS, but not for Android( Drover still jumps depending on input focus/unfocus

[2022-10-06 09:30] dkulakov commented on #221
@Taloqq Can you share your whole test case?

[2022-10-06 09:39] Taloqq commented on #221
@dkulakov
[code]
And heres how im calling it:
[code]

[2022-10-06 09:43] dkulakov commented on #221
@Taloqq
Is it also inside ActionSheet? If so, does it work?
`await waitFor(() => fireEvent.press(component.getByTestId('nextPageButton')));`

[2022-10-06 09:48] Taloqq commented on #221
@dkulakov No, `const askLocationType = async () => { }` is not inside the actionSheet. Its in my AddressPage1 component

[2022-10-06 09:53] Taloqq commented on #221
@dkulakov It has no effect :/

[2022-10-06 11:50] aayush301 opened #228 "Custom back handler in action sheet"
How can I add custom back button handler for 'hardwareBackPress' event in the action sheet?

The ActionSheet component seems not to provide such a prop for adding the custom back button handler.
Although, it has a prop 'closeOnPressBack' for just specifying whether we want to close the sheet on pressing back button. So that's of no use.

[2022-10-06 12:03] dkulakov commented on #221
@Taloqq Can you reproduce this issue using my demo project?

[2022-10-06 12:16] monk-lee commented on #225
same issue + 1

Scrolls do not work properly on both iPhone, Android, and Expo.

[2022-10-09 02:23] adrian3ka opened #229 "When typing in Action Sheet, close the keyboard the bottom part of action sheet disappear for a few moment"
https://user-images.githubusercontent.com/31057437/194734536-d1b98b88-a8cd-416c-8889-f3f281e473b6.MP4

When we have Text Input inside the Action Sheet, we have a blink for a moment for the backdrop keyboard.
It's only happening when the text input is inside the action sheet.

  id={sheetId}
  isModal={false}
  zIndex={zIndex}
  containerStyle={{
    height: '99%',
    backgroundColor: '#1A1A1A',

[2022-10-09 13:38] ammarahm-ed commented on #216
This is hopefully fixed in v0.8.8

[2022-10-09 13:43] ammarahm-ed commented on #225
@monk-lee @NathanC Right now ScrollView/FlatList behavior is not ideal. It sometimes works & sometimes does not. One workaround is to wrap your renderItem in a button such as a Touchable/Pressable which makes the ScrollView work in most cases. If it's a ScrollView, wraps item inside it in TouchableOpacity & set activeOpacity to 1.

I am looking for a better solution. Yet to find one.

[2022-10-09 13:43] ammarahm-ed commented on #228
What is your use case for a custom handler?

[2022-10-09 13:45] ammarahm-ed commented on #226
Hi, can you reproduce this in the example app? I don't see any delay in the ActionSheet examples.

[2022-10-09 13:46] ammarahm-ed commented on #224
Hi, try v0.8.8. It should fix keyboard issues.

[2022-10-09 13:47] ammarahm-ed commented on #218
Hi, try v0.8.8. It adds animations for keyboard open/close.

[2022-10-09 14:20] aayush301 commented on #228
Suppose, the action sheet contains some text inputs and when the back button is pressed, before the action sheet is closed, the data validation first takes place. Only after data validation, the action sheet can be closed, otherwise it can show, for example, some kind of alert.

[2022-10-10 04:24] rawatnaresh commented on #200
is this issue fixed? 🤔 i am thinking of switching to this library but I'm not sure.

[2022-10-10 11:38] 13627491210 commented on #200
no

[2022-10-11 16:15] jagl-epam commented on #218
Hi @coryschadt

I just now had this issue, happens that the library handles the padding bottom from the containerStyle, if you have added it to your code, you have to provide either a paddingBottom > 1 or a padding of >=0

Here is the line where this behaviour happens, if you add a paddingBottom = 0, its a nullish value and then retrieves the padding (this being undefined), and the whole app crash

[2022-10-12 03:46] kikikiswanto commented on #225
work for me, i use FlatList instead ScrollView.

[2022-10-12 12:47] Nziranziza commented on #113
I just happen to experience the same issue, I upgrade to react native version 0.70.2
I have version 0.8.8 of react-native-actions-sheet
The app crashes when I focus on a textInput that's inside action sheet

[2022-10-13 10:18] justinairbase commented on #216
I'm trying this out now

[2022-10-13 17:34] ammarahm-ed commented on #229
Can you try 0.8.8

[2022-10-14 03:19] Kaung-Htet-Hein commented on #221
[code]

I mocked the library, can you try this?

[2022-10-14 03:21] Kaung-Htet-Hein commented on #206
[code]

please mock the library

[2022-10-14 09:26] dkulakov commented on #221
@Kaung-Htet-Hein thanks, I tried, but it doesn't help.

[code]
this method renders sheets in a portal, so if we mock this lib, then a content never appears in the test.

[2022-10-14 09:32] dkulakov commented on #221
@Kaung-Htet-Hein
well, I made it work in this way

`
jest.mock('react-native-actions-sheet', () => {
  const funcs = jest.requireActual('react-native-actions-sheet');

  return {
    __esModule: true,
    ...funcs,
    SheetManager: {
      ...funcs.SheetManager,
      show: funcs.SheetManager.show,
      hide: jest.fn(),
      // hide: funcs.SheetManager.hide, // <-- It doesn't work if uncomment

[2022-10-14 10:22] vi0dine commented on #113
Same as @Nziranziza :/

[2022-10-14 15:20] ayuleul opened #231 "Invariant Violation: [4633,"RCTView",{"paddingBottom":"<<NaN>>"}] is not usable as a native method argument"
**Description**
The error occurs when I try to write on the text input after upgrading to 0.8.8 to resolve issue #224. Version 0.8.7 worked flawlessly.

**Error**
![new](https://user-images.githubusercontent.com/36878262/197325561-29a281b9-fd3c-4313-a2e5-6810e2538fb6.png)
![new 2](https://user-images.githubusercontent.com/36878262/197325564-52d773e5-1e2a-4dcd-bdbf-aea5fa714e95.png)
![new 3](https:

[2022-10-15 17:48] Amusa-Paulos commented on #226
It has happened to me before, it was because I was updating `redux` state - which will then update a content somewhere in the UI - in the `onClose` event

so it might be because you were updating the state in the `onClose` event or there was a bad state handling while the sheet was still opened

so try to check if you're handling your state well

and it would be helpful if you can also state what

[2022-10-18 10:09] 13627491210 commented on #200
@ammarahm-ed    hello, 😊 do you have a solution ? I need it

[2022-10-18 13:47] guygolanIL commented on #222
happens to me aswell on android (action sheet v: ^0.8.7)

[2022-10-18 17:00] chazzaoui commented on #229
Also experiencing the issue with version 0.8.8

https://user-images.githubusercontent.com/22476835/196496918-cdcaabd0-ab3a-4cc7-8da9-0b4541a54e0d.MOV

[2022-10-18 18:52] guygolanIL commented on #222
just rolled back a few versions. this started to occure on 0.8.4

[2022-10-19 04:39] guygolanIL commented on #222
also, setting
`<ActionSheet
            id={props.sheetId}
            containerStyle={{
                height: '15%'
            }}

seems the mitigate that

[2022-10-21 17:48] SeeJ commented on #231
Confirm. Same behavior

[2022-10-22 02:37] rawatnaresh opened #232 "How to make action sheet to appear above bottom tab"
I'm using bottom tabs in my application and I would like to make the action sheet to appear above the bottom tabs. is there any way to achieve this?

![Screen Shot 2022-10-22 at 08 20 50](https://user-images.githubusercontent.com/29520305/197315352-9780c8d6-ce44-4691-a722-537024e80c75.png)